<LinkTo @route="buzzer-create" class="btn btn-primary">
  {{t 'buzzers.create'}}
</LinkTo>
&nbsp;
<LinkTo @route="led-create" class="btn btn-primary">
  {{t 'leds.create'}}
</LinkTo>
<hr>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <th>#Id</th>
    <th class="col-md-2">{{t 'name'}}</th>
    <th>{{t 'type'}}</th>
    <th>{{t 'blink_duration'}}</th>
    <th>{{t 'blink_speed'}}</th>
    <th>{{t 'enable'}}</th>
    <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
    </thead>
    <tbody>
    {{#each this.model as |ledBuzzer|}}
      {{#if ledBuzzer.id}}
        {{#if (eq ledBuzzer.deviceClass 'buzzer')}}
          <tr>
            <LinkTo @route="buzzer" @model={{ledBuzzer.id}} @tagName="td">
              {{ledBuzzer.id}}
            </LinkTo>
            <LinkTo @route="buzzer" @model={{ledBuzzer.id}} @tagName="td">
              {{ledBuzzer.name}}
            </LinkTo>
            <LinkTo @route="buzzer" @model={{ledBuzzer.id}} @tagName="td">
              {{t 'buzzer'}}
            </LinkTo>
            <LinkTo @route="buzzer" @model={{ledBuzzer.id}} @tagName="td">
              {{ledBuzzer.defaultBlinkDuration}}
            </LinkTo>
            <LinkTo @route="buzzer" @model={{ledBuzzer.id}} @tagName="td">
              {{ledBuzzer.defaultBlinkSpeed}}
            </LinkTo>
            <td>
              <div class="pull-left">
                <DeviceToggleEnabled @device={{ledBuzzer}} @saveIt={{true}} />
              </div>
            </td>
            <td>
              <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="xs" @text={{t "delete"}} @message={{t "led-buzzer.delete_confirm"}} @onConfirm={{route-action "deleteLedBuzzer" ledBuzzer}} />
            </td>
          </tr>
        {{else}}
          <tr>
            <LinkTo @route="led" @model={{ledBuzzer.id}} @tagName="td">
              {{ledBuzzer.id}}
            </LinkTo>
            <LinkTo @route="led" @model={{ledBuzzer.id}} @tagName="td">
              {{ledBuzzer.name}}
            </LinkTo>
            <LinkTo @route="led" @model={{ledBuzzer.id}} @tagName="td">
              {{t 'led'}}
            </LinkTo>
            <LinkTo @route="led" @model={{ledBuzzer.id}} @tagName="td">
              {{ledBuzzer.defaultBlinkDuration}}
            </LinkTo>
            <LinkTo @route="led" @model={{ledBuzzer.id}} @tagName="td">
              {{ledBuzzer.defaultBlinkSpeed}}
            </LinkTo>
            <td>
              <div class="pull-left">
                <DeviceToggleEnabled @device={{ledBuzzer}} @saveIt={{true}} />
              </div>
            </td>
            <td>
              <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="xs" @text={{t "delete"}} @message={{t "led-buzzer.delete_confirm"}} @onConfirm={{route-action "deleteLedBuzzer" ledBuzzer}} />
            </td>
          </tr>
        {{/if}}
      {{/if}}
    {{/each}}
    </tbody>
  </table>
</div>