<br>
<div class="alert alert-info text-center" role="alert">
    {{t 'schedule.credential_schedule'}}
</div>

{{bs-button action='refresh' defaultText=(t 'refresh')}}

<div class="user-schedule-info" class="{{greyedDisabledIfSyncing}}">

  {{#each credential.schedules as |schedule|}}
      <br>
      <div class="panel panel-default">
          <div class="panel-heading">
              {{t 'schedule.asfield'}} {{schedule.name}}
          </div>
          <div class="panel-body">
              <div id="content">
                  <!-- Recap of the schedule -->
                {{#if schedule.timeframes.length}}
                    {{t 'timeframes_'}}
                    <ul>
                      {{#each schedule.timeframes as |tf|}}
                          <li>
                            {{tf.startTime}} {{t 'to'}} {{tf.endTime}} {{t 'on'}} {{timeframe-weekday-list tf}}
                          </li>
                      {{/each}}
                    </ul>
                {{else}}
                    <div class="alert alert-danger text-center" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{t 'schedule.no_timeframe'}}
                    </div>
                {{/if}}

                {{#each schedule.mapping as |mapping|}}
                  {{#if (is-credential-part-of-mapping mapping credential.id)}}
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              {{t 'schedule.mapping' alias=mapping.alias}}
                              <div class="pull-right">
                                {{button-with-confirmation
                                  type='danger'
                                  icon='glyphicon glyphicon-remove'
                                  size='xs'
                                  text=(t 'schedule.remove_from_mapping')
                                  message=(t 'schedule.remove_from_mapping_confirm')
                                  onConfirm=(action 'leaveMapping' mapping)
                                }}
                              </div>
                          </div>
                          <div class="panel-body">
                              <div id="content">
                                {{#if mapping.doors.length}}
                                    {{t 'schedule.grant_to_doors'}}
                                    <ul>
                                      {{#each mapping.doors as |door|}}
                                          <li>
                                            {{#link-to 'door' door.id}}{{door.alias}}{{/link-to}}
                                          </li>
                                      {{/each}}
                                    </ul>
                                {{else}}
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        {{t 'schedule.grant_to_doors'}}
                                        {{t 'schedule.no_doors'}}
                                    </div>
                                {{/if}}
                              </div>
                          </div>
                      </div>
                  {{/if}}
                {{/each}}
              </div>
          </div>
      </div>
  {{/each}}

    <div class="panel panel-default">
        <div class="panel-body">
          {{schedule-mapping-picker action=(action 'addScheduleMapping')}}
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br>
</div>
