<div class="col-md-12">
  <BsForm @formLayout="vertical" @model={{this.door}} onSubmit={{this.action}} as |form|>
    <div class="col-md-6">
      <fieldset>
        <legend>{{t 'configuration'}}</legend>
        <form.element @controlType="text" @label={{t "alias"}} @placeholder={{t "door.placeholder"}} @property="alias" />
        <form.element @controlType="textarea" @label={{t "notes"}} @placeholder={{t "notes_placeholder"}} @property="description" />
        <Autocomplete::AccessPoint @label={{t "access_point"}} @form={{form}} @onChange={{this.changeAP}} @selected={{this.door.accessPoint.alias}} />
        <div class="row">
          <div class="col-md-6">
            <BsButton @defaultText={{t 'submit'}} @type="success" @size="md" @onClick={{this.action}} @buttonType="submit" />
          </div>
          {{#if this.delete}}
            <div class="pull-right form-button-delete">
              <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="md" @text={{t "delete"}} @message={{t "door.delete_confirm"}} @onConfirm={{this.delete}} />
            </div>
          {{/if}}
        </div>

      </fieldset>
    </div>
  </BsForm>
</div>