<div class="row">
  <div class="col-md-offset-1 col-md-12 col-xs-offset-1 space-top space-bottom">
    <PowerSelectTypeahead @placeholder={{t "search"}} @search={{action "findAll"}} @selected={{this.selected.name}} @renderInPlace={{true}} @allowClear={{true}} @onChange={{action "handleRoute"}} as |result|>
      <div>
        {{result.name}}
        <span class="pull-right global-search-model-style" >{{t result.tradKey}}</span>
      </div>
    </PowerSelectTypeahead>
  </div>
</div>
