<BsForm as |form|>
    <div class="row">
        <div class="col-md-2 col-sm-4">
            <form.element @label={{t "username"}}>
                <PowerSelectTypeahead @selected={{this.selectedUser.username}} @search={{action "searchUser"}} @onChange={{action "setUser"}} @allowClear={{true}} @placeholder={{t "username"}} as |user|>
                    {{user.username}}
                </PowerSelectTypeahead>
            </form.element>
        </div>
        <div class="col-md-2 col-sm-4">
            <form.element @label={{t "rank"}}>
                <PowerSelect @selected={{this.selectedRank}}
                             @options={{this.allRank}}
                             @onChange={{action (mut this.selectedRank)}}
                             @placeholder={{t 'rank_group'}} as |rank|>
                    {{t rank}}
                </PowerSelect>
            </form.element>
        </div>
        <div class="col-md-2 col-sm-4 button-next-to-power-select">
            <BsButton @type="primary" @icon="glyphicon glyphicon-plus" @size="sm" @onClick={{action 'addToGroup'}}>
                {{t 'users.add_to_group'}}
            </BsButton>
        </div>
    </div>
</BsForm>
