<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <th>#Id</th>
        <th class="col-md-2">{{t 'name'}}</th>
        <th>{{t 'users.members'}}</th>
        {{#if this.deleteLink}}
            <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
        {{/if}}
        </thead>
        <tbody>
        {{#each this.groups as |group|}}
              <tr {{action 'gotoItem' group.id}}>
                <td>{{group.id}}</td>
                <td>{{group.name}}</td>
                <td>{{group.memberCount}}</td>
                {{#if this.deleteLink}}
                    <td>
                        <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="xs" @text={{t "delete"}} @message={{t "users.delete_group_confirm"}} @onConfirm={{route-action "deleteGroup" group.id}} />
                    </td>
                {{/if}}
              </tr>
        {{/each}}
        </tbody>
    </table>
</div>
