<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>{{t 'name'}}</th>
        <th>Total members</th>
        {{#if deleteLink}}
            <th>{{t 'delete'}}</th>
        {{/if}}
        </thead>
        <tbody>
        {{#each groups as |group|}}
            <tr>
                <td>{{group.id}}</td>
                <td>
                  {{#link-to 'group' group.id}}
                    {{group.name}}
                  {{/link-to}}
                </td>
                <td>{{group.memberCount}}</td>
              {{#if deleteLink}}
                  <td>
                    {{button-with-confirmation
                      type='danger'
                      icon='glyphicon glyphicon-remove'
                      size='xs'
                      text='Delete'
                      message='Are you sure you wish to delete this group ?'
                      onConfirm=(route-action 'deleteGroup' group.id)
                    }}
                  </td>
              {{/if}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
