<table class="table table-striped">
    <thead>
    <tr>
        <th>User #Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Date joined</th>
        <th>Rank</th>
      {{#if canRemoveUserFromGroup}}
          <th>Remove</th>
      {{/if}}
    </tr>
    </thead>
    <tbody>
    {{#each group.memberships as |membership|}}
        <tr>
            <td>{{membership.user.id}}</td>
            <td>{{membership.user.firstname}}</td>
            <td>{{membership.user.lastname}}</td>
            <td>
              {{#link-to 'profile' membership.user.id}}
                {{membership.user.username}}
              {{/link-to}}
            </td>
            <td>{{membership.timestamp}}</td>
            <td>{{membership.rank}}</td>
          {{#if canRemoveUserFromGroup}}
              <td>
                {{button-with-confirmation
                  type='danger'
                  icon='glyphicon glyphicon-ban-circle'
                  size='xs'
                  text='Remove'
                  message=(concat 'Are you sure you wish to remove ' membership.user.username ' from the group?')
                  onConfirm=(action 'deleteMembership' membership.id)
                }}</td>
          {{/if}}
        </tr>
    {{/each}}
    </tbody>
</table>
