<BsForm @formLayout="vertical" @model={{this.ap}} onSubmit={{this.action}} as | form|>
  <div class="col-md-6">
    <fieldset>
      <legend>{{t 'configuration'}}</legend>

      <form.element @controlType="text" @label={{t "alias"}} @placeholder={{t "access_point_placeholder"}} @property="alias" />
      <form.element @controlType="textarea" @label={{t "notes"}} @placeholder={{t "notes_placeholder"}} @property="description" />

      <hr>
      <h3>{{t 'leosac_builtin_ap.authentication_sources_device'}}</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <th>#Id</th>
              <th class="text-center">{{t 'name'}}</th>
              <th class="text-center">{{t 'remove'}}</th>
              </thead>
              <tbody>
              {{#each this.ap.authSourcesDevice as |device|}}
                <tr>
                  <td>
                    {{device.id}}
                  </td>
                  <td class="text-center">
                    {{device.name}}</td>
                  <td>
                    <div class="text-center">
                      <BsButton @size='xs' @icon='glyphicon glyphicon-remove' @type='danger'
                                @defaultText={{t 'remove'}} @onClick={{action 'removeAuthSources' device}} />
                    </div>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-12">
            <form.element @label={{t "leosac_builtin_ap.device_picker"}}>
              <DeviceListPicker @arrayOfDeviceClass={{arrayOfDeviceClassWiegandReader}} @newDevice={{this.newDevice}} @placeholder={{t "leosac_builtin_ap.device_placeholder"}} />
            </form.element>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <BsButton @size='sm' @type="primary" @onClick={{action 'addAuthSources'}}
                      @defaultText={{t 'leosac_builtin_ap.add_device'}} />
          </div>
        </div>
      </div>

      <hr>
      <h3>{{t 'leosac_builtin_ap.schedules'}}</h3>
      <div class="row">
        <div class="col-md-6">
          <h4>{{t 'leosac_builtin_ap.always_open_schedules'}}</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <th>#Id</th>
              <th class="text-center">{{t 'name'}}</th>
              <th class="text-center">{{t 'remove'}}</th>
              </thead>
              <tbody>
              {{#each this.ap.alwaysCloseSchedules as |schedule|}}
                <tr>
                  <td>
                    {{schedule.id}}
                  </td>
                  <td class="text-center">
                    {{schedule.name}}</td>
                  <td>
                    <div class="text-center">
                      <BsButton @size='xs'
                                @icon='glyphicon glyphicon-remove'
                                @type='danger'
                                @defaultText={{t 'remove'}}
                                @onClick={{action 'removeCloseSchedule' schedule}} />
                    </div>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <h4>{{t 'leosac_builtin_ap.always_close_schedules'}}</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <th>#Id</th>
              <th class="text-center">{{t 'name'}}</th>
              <th class="text-center">{{t 'remove'}}</th>
              </thead>
              <tbody>
              {{#each this.ap.alwaysOpenSchedules as |schedule|}}
                <tr>
                  <td>
                    {{schedule.id}}
                  </td>
                  <td class="text-center">
                    {{schedule.name}}</td>
                  <td>
                    <div class="text-center">
                      <BsButton @size='xs'
                                @icon='glyphicon glyphicon-remove'
                                @type='danger'
                                @defaultText={{t 'remove'}}
                                @onClick={{action 'removeOpenSchedule' schedule}} />
                    </div>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-12">
            <form.element @label={{t "leosac_builtin_ap.schedule_picker"}}>
              <PowerSelect @searchEnabled={{true}} @search={{action "searchSchedule"}} @selected={{this.newSchedule.name}} @placeholder={{t "leosac_builtin_ap.schedules_placeholder"}} @onChange={{action (mut this.newSchedule)}} as |schedule|>
                {{schedule.name}}
              </PowerSelect>
            </form.element>
          </div>
        </div>
            <BsButton @size='sm'
                      @type="warning"
                      @onClick={{action 'addCloseSchedule'}}
                      @defaultText={{t 'leosac_builtin_ap.add_close_schedule'}} />
            <BsButton @size='sm'
                      @type="warning"
                      @onClick={{action 'addOpenSchedule'}}
                      @defaultText={{t 'leosac_builtin_ap.add_open_schedule'}} />
      </div>

      <div class="row space-top">
        <div class="col-md-12">
          <BsButton @defaultText={{t 'submit'}} @type="success" @size="md" @onClick=action buttonType="submit" />
        </div>
        {{#if this.delete}}
          <div class="pull-right form-button-delete">
            <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="md" @text={{t "delete"}} @message={{t "door.delete_confirm"}} @onConfirm={{this.delete}} />
          </div>
        {{/if}}
      </div>

    </fieldset>
  </div>
</BsForm>
