<!--suppress ALL -->

<img src="{{getenv 'logoUrl'}}" class="navbar-logo" alt="Logo" />

{{#bs-form formLayout="horizontal"  class="form-signin" onSubmit=(action "login") as |form|}}
    <h2 class="form-signin-heading">{{t 'login-form.welcome'}}</h2>
            {{form.element controlType='text' label=(t 'form.username.label')
                           value=inputUsername required=true
                           onChange=(action (mut inputUsername))
                           placeholder=(t 'form.username.ph')
            }}
            {{form.element controlType='password' label=(t 'form.password.label')
                           value=inputPassword required=true
                           onChange=(action (mut inputPassword))

                           placeholder=(t 'form.password.ph')
            }}

            {{#bs-button class="btn-signin" size="md" type="primary" buttonType="submit"}}
                {{t 'login-form.submit'}}
            {{/bs-button}}

    <br>
    {{#if pending}}
        <!--suppress XmlDefaultAttributeValue -->
        <span class="fa fa-refresh fa-spin" style="color: orange; font-size:30px; margin-top: 2%" aria-hidden="true"></span>
    {{/if}}

    {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    {{/if}}
{{/bs-form}}