<img src="{{getenv 'logoUrl'}}" class="navbar-logo" alt="Logo" />

<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>

  {{bs-form-element controlType='text' label='Username'
                    value=inputUsername required=true
                    placeholder='Username'}}

  {{bs-form-element controlType='text' label='Password'
                    value=inputPassword required=true
                    placeholder='Password'}}

    <button class="btn btn-lg btn-primary btn-block" type="submit"
      {{action 'login'}}>Sign in
    </button>

  {{#if pending}}
      <span class="fa fa-refresh" style="color: orange" aria-hidden="true"></span>
  {{/if}}

  {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
  {{/if}}
</form>
