<img src="{{getenv 'logoUrl'}}" class="navbar-logo" alt="Logo" />

<form class="form-signin">
    <h2 class="form-signin-heading">{{t 'login-form.welcome'}}</h2>

  {{bs-form-element controlType='text' label=(t 'form.username.label')
                    value=inputUsername required=true
                    placeholder=(t 'form.username.ph')
                    }}

  {{bs-form-element controlType='password' label=(t 'form.password.label')
                    value=inputPassword required=true
                    placeholder=(t 'form.password.ph')
                    }}

    <button class="btn btn-lg btn-primary btn-block" type="submit"
      {{action 'login'}}>{{t 'login-form.submit'}}
    </button>

  {{#if pending}}
      <span class="fa fa-refresh" style="color: orange" aria-hidden="true"></span>
  {{/if}}

  {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
  {{/if}}
</form>
