<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>{{t 'message'}}</th>
        <th>{{t 'date'}}</th>
    </tr>
    </thead>
    <tbody>
    {{#each logs as |log|}}
        <tr>
            <td style="padding-right: 10px">{{log.id}}</td>
            <td class="col-md-10">{{log.message}}</td>
            <td class="col-md-2">{{log.timestamp}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
