<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>{{t 'message'}}</th>
        <th>{{t 'date'}}</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.logs as |log|}}
        <tr>
          <td >{{log.id}}</td>
          <td >{{log.message}}</td>
          <td >{{log.timestamp}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
