{{#bs-button disabled=pendingCheckUpdate action=(action 'checkUpdate')}}
  {{#if pendingCheckUpdate}}
    {{t 'evoxs.update.pending_check_update'}}
    <i class="fa fa-spinner fa-spin" style="color: orange; font-size:16px"></i>
  {{else}}
    {{t 'evoxs.update.check_update'}}
  {{/if}}
{{/bs-button}}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>Alias</th>
        <th>{{t 'evoxs.update.table.checkpoint'}}</th>
        <th>{{t 'evoxs.update.table.update_needed'}}</th>
        <th>{{t 'update'}}</th>
        </thead>

        <tbody>
        {{#each sortedApsWithStatus as |ap|}}
            <tr>
                <td>
                  {{#link-to 'modules.evoxs.access-point' ap.ap.id}}
                    {{ap.ap.id}}
                  {{/link-to}}
                </td>
                <td>{{ap.ap.alias}}</td>
                <td>{{ap.ap.checkpoint}}</td>
                <td>
                  {{{boolean-to-colored-yes-no ap.needUpdate}}}
                </td>
                <td>
                  {{#if ap.needUpdate}}
                    {{bs-button defaultText='Update !' action=(action 'startUpdate' ap.ap)}}
                  {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<h3>{{t 'pending_updates'}}</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>{{t 'evoxs.update.table.target_alias'}}</th>
        <th>{{t 'evoxs.update.table.generated_at'}}</th>
        <th>{{t 'evoxs.update.table.checkpoint'}}</th>
        <th>Action</th>
        </thead>

        <tbody>
        {{#each pendingUpdates as |update|}}
            <tr>
                <td>{{update.id}}</td>
                <td>{{update.accessPoint.alias}}</td>
                <td>{{update.generatedAt}}</td>
                <td>{{update.checkpoint}}</td>
                <td>
                  {{#bs-button type='success' action=(action 'acknowledgeUpdate' update)}}
                    {{t 'acknowledge'}}
                  {{/bs-button}}

                  {{#bs-button type='danger' action=(action 'cancelUpdate' update)}}
                    {{t 'cancel'}}
                  {{/bs-button}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<h3>{{t 'update_history'}}</h3>
{{autocomplete/access-point label=(t 'evoxs.update.filter_access_point')
                            onChange=(action (mut filteredAp)) selected=filteredAp.alias}}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>{{t 'evoxs.update.table.target_alias'}}</th>
        <th>{{t 'evoxs.update.table.generated_at'}}</th>
        <th>{{t 'evoxs.update.table.updated_at'}}</th>
        <th>Status</th>
        <th>{{t 'evoxs.update.table.checkpoint'}}</th>
        </thead>

        <tbody>
        {{#each nonPendingUpdates as |update|}}
            <tr class="{{if (eq update.status 1) 'success' 'danger'}}">
                <td>{{update.id}}</td>
                <td>{{update.accessPoint.alias}}</td>
                <td>{{update.generatedAt}}</td>
                <td>{{update.statusUpdatedAt}}</td>
                <td>{{update.statusString}}</td>
                <th>{{update.checkpoint}}</th>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
