<ul class="pagination">
    {{#each this.pages as |page|}}
        {{#if (eq this.current page)}}
            <li class="active">
                {{! Clicking on the current page cause refresh because
             the user may want to fetch newest content. }}
                <button type="button" {{on 'click' (fn this.changePage page)}}>{{page}}</button>
            </li>
        {{else}}
            <li>
                <button type="button" {{on 'click' (fn this.changePage page)}}>{{page}}</button>
            </li>
        {{/if}}
    {{/each}}
</ul>
