{{#bs-form formLayout="vertical" model=pin onSubmit=action as |form|}}
  <div class="col-md-6 space-top">
    <fieldset>
      <legend>{{ t 'configuration'}}</legend>
      {{form.element controlType="text" label=(t 'alias')
                     placeholder=(t 'alias_placeholder')
                     property="alias"}}
      {{form.element controlType="text" label=(t 'pincode')
                     placeholder="1234" property="code"}}

      {{form.element controlType="textarea" label=(t 'notes')
                     placeholder=(t 'notes_placeholder')
                     property="description"}}

      {{user-picker form=form label=(t 'owner') selected=pin.owner onChange=(action (mut pin.owner))}}

      {{validity-control form=form
                         enabledProperty="validityEnabled"
                         startDate=(mut pin.validityStart)
                         endDate=(mut pin.validityEnd)}}

      <div class="row">
        <div class="col-md-4">
          {{bs-button defaultText=(t 'submit') type="success" buttonType="submit"}}
        </div>
        {{#if delete}}
          <div class="pull-right form-button-delete">
            {{button-with-confirmation type='danger'
                                       icon='glyphicon glyphicon-remove'
                                       size='sm'
                                       text=(t 'delete')
                                       message=(t 'credentials.delete_confirm')
                                       onConfirm=delete
            }}
          </div>
        {{/if}}
      </div>
    </fieldset>
  </div>
{{/bs-form}}