{{#bs-form formLayout="horizontal" model=card onSubmit=action as |form|}}
    <div class="col-md-6">
        <fieldset>
            <legend>{{t 'configuration'}}</legend>
            {{form.element controlType="text" label=(t 'alias')
                           placeholder=(t 'alias_placeholder')
                           property="alias"}}
            {{form.element controlType="text" label=(t 'credentials.rfid_card.hex_id')
                           placeholder="11:aa:bb:cc" property="cardId"}}
            {{form.element controlType="number" label=(t 'credentials.rfid_card.number_bits')
                           placeholder="32" property="nbBits"}}

            {{form.element controlType="textarea" label=(t 'notes')
                           placeholder=(t 'notes_placeholder')
                           property="description"}}

            {{user-picker form=form selected=card.owner onChange=(action (mut card.owner))}}
            {{bs-button defaultText=(t 'submit') type="primary" buttonType="submit"}}
        </fieldset>
    </div>
    <div class="col-md-6">
        {{validity-control
                form=form
                enabledProperty="validityEnabled"
                startDate=(mut card.validityStart)
                endDate=(mut card.validityEnd)}}
    </div>
{{/bs-form}}
