{{#bs-form formLayout="vertical" model=card onSubmit=action as |form|}}
  <div class="col-md-6 space-top">
    <fieldset>
      <legend>{{t 'configuration'}}</legend>
      {{form.element controlType="text" label=(t 'alias')
                     placeholder=(t 'alias_placeholder')
                     property="alias"}}

      {{#form.element controlType="text" label=(t 'credentials.rfid_card.hex_id')
                      placeholder="11:aa:bb:cc" property="cardId" as |el|}}
        {{el.control id="Tooltip-id"}}
        {{#bs-tooltip triggerElement="#Tooltip-id" placement="right"}}{{t 'informations.card_id'}}{{/bs-tooltip}}
      {{/form.element}}

      {{#form.element controlType="number" label=(t 'credentials.rfid_card.number_bits')
                      placeholder="32" property="nbBits" as |el|}}
        {{el.control id="Tooltip-bits"}}
        {{#bs-tooltip triggerElement="#Tooltip-bits" placement="right"}}{{t 'informations.number_of_bit'}}{{/bs-tooltip}}
      {{/form.element}}

      {{form.element controlType="textarea" label=(t 'notes')
                     placeholder=(t 'notes_placeholder')
                     property="description"}}

      {{user-picker form=form
                    searchCredential=(action 'searchUser')
                    label=(t 'owner')
                    selected=selectedUser
                    onChange=(action 'setOwner')}}

      {{validity-control form=form
                         enabledProperty="validityEnabled"
                         startDate=(mut card.validityStart)
                         endDate=(mut card.validityEnd)}}

      <div class="row">
        <div class="col-md-1">
          {{bs-button defaultText=(t 'submit') type="success" buttonType="submit"}}
        </div>
        {{#if delete}}
          <div class="pull-right form-button-delete">
            {{button-with-confirmation type='danger'
                                       icon='glyphicon glyphicon-remove'
                                       size='md'
                                       text=(t 'delete')
                                       message=(t 'credentials.delete_confirm')
                                       onConfirm=delete
            }}
          </div>
        {{/if}}
      </div>
    </fieldset>
  </div>
{{/bs-form}}