<div class="col-md-12 row">
    <div class="pull-left">
      {{#bs-form-element label=(t 'alias')}}
        {{input type='text' value=(mut mapping.alias) class='form-control'}}
      {{/bs-form-element}}
    </div>
    <div class="pull-right">
      {{bs-button icon='glyphicon glyphicon-remove' type='danger'
                  defaultText=(t 'delete')
                  action=(route-action 'removeMapping' mapping)}}
    </div>
</div>

<div class="col-md-12 row">
    <hr>
</div>

<div class="col-md-12">
    <h3>{{t 'users.title'}}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <th>#Id</th>
            <th>{{t 'username'}}</th>
            <th>{{t 'schedule.remove_from_mapping'}}</th>
            </thead>
            <tbody>
            {{#each mapping.users as |user|}}
                <tr>
                    <td>
                      {{#link-to 'profile' user.id}}
                        {{user.id}}
                      {{/link-to}}
                    </td>
                    <td>{{user.username}}</td>
                    <td>
                      {{bs-button size='xs' icon='glyphicon glyphicon-remove' type='danger'
                                  defaultText=(t 'remove') action=(action 'removeUser' user)}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="pulled-down-row">
        <div class="col-md-3">
          {{user-picker selected=newUser onChange=(action (mut newUser))}}
        </div>
        <div class="col-md-3">
          {{bs-button size='sm' type="primary" action="addUser" defaultText=(t 'users.add_user')}}
        </div>
    </div>
</div>

<div class="col-md-12 row">
    <hr>
</div>

<div class="col-md-12">
    <h3>{{t 'groups'}}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <th>#Id</th>
            <th>{{t 'name'}}</th>
            <th>{{t 'schedule.remove_from_mapping'}}</th>
            </thead>
            <tbody>
            {{#each mapping.groups as |group|}}
                <tr>
                    <td>
                      {{#link-to 'group' group.id}}
                        {{group.id}}
                      {{/link-to}}
                    </td>
                    <td>{{group.name}}</td>
                    <td>
                      {{bs-button size='xs' icon='glyphicon glyphicon-remove' type='danger'
                                  defaultText=(t 'remove') action=(action 'removeGroup' group)}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div>
        <div class="col-md-6">
          {{#bs-form-element label='Group name'}}
              <div class="input-group">
                {{#power-select-typeahead search=(action 'searchGroup')
                                          selected=newGroup.name
                                          placeholder=(t 'users.type_group')
                                          onchange=(action (mut newGroup)) as |groupInfo|}}
                  {{groupInfo.name}}
                {{/power-select-typeahead}}
                  <span class="input-group-btn">
                    {{bs-button size='sm' type="primary" action="addGroup" defaultText=(t 'users.add_group')}}
                  </span>
              </div>
          {{/bs-form-element}}
        </div>
    </div>
</div>

<div class="col-md-12 row">
    <hr>
</div>

<div class="col-md-12">
    <h3>{{t 'credentials.title'}}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <th>#Id</th>
            <th>{{t 'type'}}</th>
            <th>{{t 'alias'}}</th>
            <th>{{t 'schedule.remove_from_mapping'}}</th>
            </thead>
            <tbody>
            {{#each mapping.credentials as |cred|}}
                <tr>
                    <td>
                      {{link-to-credential credential=cred text=cred.id}}
                    </td>
                    <td>{{cred.type}}</td>
                    <td>{{cred.alias}}</td>
                    <td>
                      {{bs-button size='xs' icon='glyphicon glyphicon-remove' type='danger'
                                  defaultText=(t 'remove') action=(action 'removeCredential' cred)}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="pulled-down-row">
        <div class="col-md-3">
          {{#bs-form-element label="Id"}}
            {{input type='number' value=(mut newCredential) class='form_control'}}
          {{/bs-form-element}}
        </div>
        <div class="col-md-3">
          {{bs-button size='sm' type="primary" action="addCredential"
                      defaultText=(t 'users.add_credential')}}
        </div>
    </div>
</div>

<div class="col-md-12 row">
    <hr>
</div>

<div class="col-md-12">
    <h3>{{t 'doors'}}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <th>#Id</th>
            <th>{{t 'alias'}}</th>
            <th>{{t 'schedule.remove_from_mapping'}}</th>
            </thead>
            <tbody>
            {{#each mapping.doors as |door|}}
                <tr>
                    <td>
                      {{#link-to 'door' door.id}}
                        {{door.id}}
                      {{/link-to}}
                    </td>
                    <td>{{door.alias}}</td>
                    <td>
                      {{bs-button size='xs' icon='glyphicon glyphicon-remove' type='danger'
                                  defaultText=(t 'remove') action=(action 'removeDoor' door)}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div>
        <div class="col-md-6">
          {{#bs-form-element label='Door alias'}}
              <div class="input-group">
                {{#power-select-typeahead search=(action 'searchDoor')
                                          selected=newDoor.alias
                                          placeholder=(t 'schedule.type_door')
                                          onchange=(action (mut newDoor)) as |doorInfo|}}
                  {{doorInfo.alias}}
                {{/power-select-typeahead}}
                  <span class="input-group-btn">
                    {{bs-button size='sm' type="primary" action="addDoor" defaultText=(t 'schedule.add_door')}}
                  </span>
              </div>
          {{/bs-form-element}}
        </div>
    </div>
</div>
