{{#bs-form formLayout="horizontal" model=schedule action=action as |form|}}
    <fieldset>
        <legend>{{t 'details'}}</legend>
      {{form.element controlType="text" label=(t 'name')
                        placeholder=(t 'schedule.placeholder')
                        property="name"}}

      {{form.element controlType="textarea" label=(t 'notes')
                        placeholder=(t 'notes_placeholder')
                        property="description"}}
    </fieldset>

    <fieldset>
        <legend>{{t 'timeframes'}}</legend>

        <div class="col-md-6">
          {{#form.element label="Timeframes"}}
            {{#power-select
              selected=currentTimeframe
              options=schedule.timeframes
              onchange=(action (mut currentTimeframe))
              allowClear=false
            as |tf|}}
              {{t 'timeframe'}} {{tf.id}}
            {{/power-select}}
          {{/form.element}}

          {{bs-button defaultText=(t 'add') type='success' action='addTimeframe'}}
          {{bs-button defaultText=(t 'remove_selected') type='danger' action='removeTimeframe'}}
        </div>

        <div class="col-md-6">
          {{schedule-timeframe timeframe=currentTimeframe}}
        </div>

    </fieldset>
    {{bs-button defaultText=(t 'submit') type="primary" buttonType="submit"}}

{{/bs-form}}
