{{#bs-form formLayout='inline' action='scheduleMappingPicked' as |form|}}
    <fieldset>
        {{#form.element label=(t 'schedule.title')}}
            {{#power-select-typeahead search=(action 'searchSchedule')
                                      selected=selectedSchedule.name
                                      placeholder=(t 'schedule.type')
                                      onchange=(action 'scheduleChanged') as |schedInfo|}}
                {{schedInfo.name}}
            {{/power-select-typeahead}}
        {{/form.element}}

        {{#form.element label=(t 'mapping')}}
            {{#power-select-typeahead selected=selectedMapping
                                      form=form
                                      searchField="alias"
                                      options=selectedSchedule.mapping
                                      onchange=(action (mut selectedMapping))
                                      placeholder='...'
            as |mapping|
            }}
                {{mapping.alias}}
            {{else}}
                <div class="text-center">
                    <p>{{t 'schedule.no_mapping'}}</p>
                </div>
            {{/power-select-typeahead}}
        {{/form.element}}

    </fieldset> <br>
    {{bs-button size='sm' defaultText=(t 'schedule.join_mapping') type="primary" buttonType="submit"}}
{{/bs-form}}
