{{#bs-form formLayout="horizontal" model=schedule onSubmit=action as |form|}}
        <fieldset>
            <legend>{{t 'details'}}</legend>
            <div>
                {{form.element controlType="text" label=(t 'name')
                               placeholder=(t 'schedule.placeholder')
                               property="name"}}

                {{form.element controlType="textarea" label=(t 'notes')
                               placeholder=(t 'notes_placeholder')
                               property="description"}}
            </div>
            </fieldset>
        <fieldset>
            <legend>{{t 'timeframes'}}</legend>

            <div>
                {{#form.element label="Timeframes"}}
                    {{#power-select
                            selected=currentTimeframe
                            options=schedule.timeframes
                            onchange=(action (mut currentTimeframe))
                            allowClear=false
                    as |tf|}}
                        {{t 'timeframe'}} {{tf.id}}
                    {{/power-select}}
                {{/form.element}}

                {{bs-button defaultText=(t 'add') type='success' onClick=(action 'addTimeframe')}}
                {{bs-button defaultText=(t 'remove_selected') type='danger' onClick=(action 'removeTimeframe')}}
            </div>
        </fieldset>
    <div class="row">
            {{schedule-timeframe form=form timeframe=currentTimeframe}}
    </div>
    {{bs-button defaultText=(t 'submit') type="primary" buttonType="submit"}}
{{/bs-form}}
