{{#bs-form formLayout='inline' onSubmit=(action 'scheduleMappingPicked') as |form|}}
    <div class="row">
        <fieldset>
            <div class="col-md-2 col-sm-4" style="padding-bottom: 1%">
                {{#form.element label=(t 'schedule.title')}}
                    {{#power-select-typeahead search=(action 'searchSchedule')
                                              selected=selectedSchedule.name
                                              placeholder=(t 'schedule.type')
                                              onchange=(action 'scheduleChanged') as |schedInfo|}}
                        {{schedInfo.name}}
                    {{/power-select-typeahead}}
                {{/form.element}}
            </div>
            <div class="col-sm-4 col-md-2" style="padding-bottom: 1%">
                {{#form.element label=(t 'mapping')}}
                    {{#power-select-typeahead selected=selectedMapping
                                              form=form
                                              searchField="alias"
                                              options=selectedSchedule.mapping
                                              onchange=(action (mut selectedMapping))
                                              placeholder='...' as |mapping|}}
                        {{mapping.alias}}
                    {{else}}
                        <div class="text-center">
                            <p>{{t 'schedule.no_mapping'}}</p>
                        </div>
                    {{/power-select-typeahead}}
                {{/form.element}}
            </div>
            <div class="col-sm-4 col-md-2" style="white-space: pre; margin-bottom: 1%">
                {{bs-button size='sm' defaultText=(t 'schedule.join_mapping') type="primary" buttonType="submit"}}
            </div>
        </fieldset>
      </div>
{{/bs-form}}