{{#bs-form formLayout="horizontal" model=mapping as |form|}}
    <div class="col-md-12 row">
        <div class="pull-left">
            {{#form.element label=(t 'alias')}}
                {{input type='text' value=(mut mapping.alias) class='form-control'}}
            {{/form.element}}
        </div>
        <div class="pull-right">
            {{bs-button icon='glyphicon glyphicon-remove' type='danger'
                        defaultText=(t 'delete')
                        onClick=(route-action 'removeMapping' mapping)}}
        </div>
    </div>

    <div class="col-md-12 row">
        <hr>
    </div>
    <div class="col-md-12">
        <h3>{{t 'users.title'}}</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <th>#Id</th>
                <th>{{t 'username'}}</th>
                <th>{{t 'schedule.remove_from_mapping'}}</th>
                </thead>
                <tbody>
                {{#each mapping.users as |user|}}
                    <tr>
                        <td>
                            {{#link-to 'profile' user.id}}
                                {{user.id}}
                            {{/link-to}}
                        </td>
                        <td>{{user.username}}</td>
                        <td>
                            <div class="pull-right">
                                {{bs-button size='xs' icon='glyphicon glyphicon-remove' type='danger'
                                            defaultText=(t 'remove') onClick=(action 'removeUser' user)}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{user-picker selected=newUser form=form onChange=(action (mut newUser))}}
            </div>
            <div class="col-md-2">
                {{bs-button size='sm' type="primary" onClick=(action "addUser" user)
                            defaultText=(t 'users.add_user')}}
            </div>
        </div>
    </div>

    <div class="col-md-12 row">
        <hr>
    </div>

    <div class="col-md-12">
        <h3>{{t 'groups'}}</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <th>#Id</th>
                <th>{{t 'name'}}</th>
                <th>{{t 'schedule.remove_from_mapping'}}</th>
                </thead>
                <tbody>
                {{#each mapping.groups as |group|}}
                    <tr>
                        <td>
                            {{#link-to 'group' group.id}}
                                {{group.id}}
                            {{/link-to}}
                        </td>
                        <td>{{group.name}}</td>
                        <td>
                            <div class="pull-right">
                                {{bs-button size='xs' icon='glyphicon glyphicon-remove' type='danger'
                                            defaultText=(t 'remove') onClick=(action 'removeGroup' group)}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <div>
            <div class="row">
                <div class="pull-left">
                    {{#form.element label=(t 'table.group_name')}}
                        {{#power-select-typeahead search=(action 'searchGroup')
                                                  selected=newGroup.name
                                                  placeholder=(t 'users.type_group')
                                                  onchange=(action (mut newGroup)) as |groupInfo|}}
                            {{groupInfo.name}}
                        {{/power-select-typeahead}}
                    {{/form.element}}
                </div>
                <div class="col-md-2">
                    {{bs-button size='sm' type="primary" onClick=(action "addGroup" group)
                                defaultText=(t 'users.add_group')}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 row">
        <hr>
    </div>

    <div class="col-md-12">
        <h3>{{t 'credentials.title'}}</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <th>#Id</th>
                <th>{{t 'type'}}</th>
                <th>{{t 'alias'}}</th>
                <th>{{t 'schedule.remove_from_mapping'}}</th>
                </thead>
                <tbody>
                {{#each mapping.credentials as |cred|}}
                    <tr>
                        <td>
                            {{link-to-credential credential=cred text=cred.id}}
                        </td>
                        <td>{{cred.type}}</td>
                        <td>{{cred.alias}}</td>
                        <td>
                            <div class="pull-right">
                                {{bs-button size='xs' icon='glyphicon glyphicon-remove' type='danger'
                                            defaultText=(t 'remove') onClick=(action 'removeCredential' cred)}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{#form.element label="Id"}}
                    {{input type='number' value=(mut newCredential) class='form_control'}}
                {{/form.element}}
            </div>
            <div>      </div>
            <div class="col-md-2">
                {{bs-button size='sm' type="primary" onClick=(action "addCredential" cred)
                            defaultText=(t 'users.add_credential')}}
            </div>
        </div>
    </div>

    <div class="col-md-12 row">
        <hr>
    </div>

    <div class="col-md-12">
        <h3>{{t 'doors'}}</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <th>#Id</th>
                <th>{{t 'alias'}}</th>
                <th>{{t 'schedule.remove_from_mapping'}}</th>
                </thead>
                <tbody>
                {{#each mapping.doors as |door|}}
                    <tr>
                        <td>
                            {{#link-to 'door' door.id}}
                                {{door.id}}
                            {{/link-to}}
                        </td>
                        <td>{{door.alias}}</td>
                        <td>
                            <div class="pull-right">
                                {{bs-button size='xs' icon='glyphicon glyphicon-remove' type='danger'
                                            defaultText=(t 'remove') onClick=(action 'removeDoor' door)}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <div>
            <div class="row">
                <div class="col-md-4">
                    {{#form.element label='Door alias'}}
                        {{#power-select-typeahead search=(action 'searchDoor')
                                                  selected=newDoor.alias
                                                  placeholder=(t 'schedule.type_door')
                                                  onchange=(action (mut newDoor)) as |doorInfo|}}
                            {{doorInfo.alias}}
                        {{/power-select-typeahead}}
                    {{/form.element}}
                </div>
                <div class="col-md-2">
                    {{bs-button size='sm' type="primary" onClick=(action "addDoor") defaultText=(t 'schedule.add_door')}}
                </div>
            </div>
        </div>
    </div>
{{/bs-form}}