{{#bs-form formLayout="horizontal" model=schedule as |form|}}
    <fieldset>
        <legend>{{t 'details'}}</legend>
        <div class="row">
            <div class="pull-left col-md-6">
                {{form.element controlType="text" label=(t 'name')
                               placeholder=(t 'schedule.placeholder')
                               property="name"}}
            </div>
        </div>
        <div class="row">
            <div class="pull-left col-md-6">
                {{form.element controlType="textarea" label=(t 'notes')
                               placeholder=(t 'notes_placeholder')
                               property="description"}}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{t 'timeframes'}}</legend>
        <div class="row">

                {{bs-button defaultText=(t 'add') type='success' onClick=(action 'addTimeframe')}}
            &nbsp;
            {{bs-button defaultText=(t 'submit') type="primary" onClick=action buttonType="submit"}}

        </div>
        {{#each schedule.timeframes as |tf|}}
            <div class="panel panel-body col-md-8">
                <div class="row">
                    {{schedule-timeframe form=form action=(action 'removeTimeframe' tf) timeframe=tf}}
                </div>
            </div>
        {{/each}}
    </fieldset>
{{/bs-form}}