<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        {{global-search label=(t 'search')}}
        <!-- /input-group -->
      </li>
      <li>
        <LinkTo @route='index'>
          <i class="fa fa-dashboard fa-fw"></i> {{t 'index.title'}}
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='system-overview'>
          <i class="fa fa-cog fa-fw"></i> {{t 'w.overview'}}
        </LinkTo>
      </li>
      <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> {{t 'access'}}<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <LinkTo @route='access-overview'>{{t 'access-overview.title'}}</LinkTo>
          </li>
          <li>
            <LinkTo @route='zone-overview'>{{t 'tree-view.title'}}</LinkTo>
          </li>
          <li>
            <LinkTo @route='users.list'>{{t 'users.title'}}</LinkTo>
          </li>
          <li>
            <LinkTo @route='groups.list'>{{t 'groups'}}</LinkTo>
          </li>
          <li>
            <LinkTo @route='credentials.list'>{{t 'credentials.title'}}</LinkTo>
          </li>
          <li>
            <LinkTo @route='schedules.list'>{{t 'schedules'}}</LinkTo>
          </li>

        </ul>
        <!-- /.nav-second-level -->
      </li>
      <li>
        <a href="#"><i class="fa fa-cogs"></i> {{t 'hardware'}}<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <LinkTo @route='zones.list'>{{t 'zones'}}</LinkTo>
          </li>
          <li>
            <LinkTo @route='doors.list'>{{t 'doors'}}</LinkTo>
          </li>
          <li>
            <LinkTo @route='access-points.list'>{{t 'access_points'}}</LinkTo>
          </li>
          <li>
            <LinkTo @route='updates'>{{t 'hardware_update'}}</LinkTo>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-table fa-plus-square"></i> {{t 'modules'}}<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          {{#each moduleManager.modulesInfo as |module|}}
            <li>
              <LinkTo @route=module.routeName>{{ module.displayName }}</LinkTo>
            </li>
          {{/each}}
          <li class="dropdown-submenu">
            <a href="#"><i class="fa fa-magic"></i> Wizard<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              {{#each moduleManager.wizardsInfo as | wizard |}}
                <li>
                  <LinkTo @route=wizard.routeName>{{ wizard.displayName }}</LinkTo>
                </li>
              {{/each}}
            </ul>
          </li>
          <!--<li>-->
           <!--<LinkTo @route='updates'>{{t 'hardware_update'}}</LinkTo>
          <!--</li>-->
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> Log<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <LinkTo @route='auditlog'>{{t 'audit_log'}}</LinkTo>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<script>
  /**
   * This jquery function is needed because there is a strange behaviour with the drop-down arrow of the side-menu.
   * Not very interesting...
   */
  $(".nav li").on("click", function (e) {
    if ($(this).hasClass('active')) {
      $(this).removeClass('active');
    }
    else {
      if ($(this).parent().parent().hasClass('active')) {
      }
      else
        $('.nav li.active').removeClass('active');
      $(this).addClass("active");
    }
    e.preventDefault();
  });
</script>
