<table class="table table-hover">
    <thead>
    <tr>
        <th>{{t 'parameter'}}</th>
        <th>{{t 'value'}}</th>
        <th>{{t 'description'}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{t 'instance_name'}}</td>
        <td>{{systemOverview.instance_name}}</td>
        <td>{{t 'instance_name_descr' appname=(getenv 'appname')}</td>
    </tr>
    <tr>
        <td>{{t 'config_version'}}</td>
        <td>{{systemOverview.config_version}}</td>
        <td>{{t 'config_version_descr'}}</td>
    </tr>
    <tr>
        <td>{{t 'uptime'}}</td>
        <td>{{format-duration systemOverview.uptime}}</td>
        <td>{{t 'uptime_descr' appname=(getenv 'appname')}}</td>
    </tr>
    <tr>
        <td>{{t 'modules'}}</td>
        <td>
            {{systemOverview.enabledModules}}
        </td>
        <td>{{t 'modules_descr'}}</td>
    </tr>
    </tbody>
</table>
