<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <button class="btn btn-link rounded-circle mr-3" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Sidebar navigation">
        <i class="fa fa-bars"></i>
    </button>

    {{global-search label=(t 'search')}}

    <ul class="navbar-nav ml-auto navbar-top-links navbar-right">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="alertsDropdown" role="button" href="#"
               aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">{{ this.flashMessages.queue.length }}</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    {{t 'alarm.title'}}
                </h6>
                {{#each this.flashMessages.queue as |flash|}}
                    {{#if (eq flash.componentName 'flashmessage-as-alert')}}
                        {{component flash.componentName flash=flash}}
                    {{/if}}
                {{/each}}
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" role="button" href="#"
               aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="profileDropdown">
                <LinkTo class="dropdown-item" @route='profile' @model={{this.authSrv.user_id}}>
                    <i class="fa fa-user fa-fw fa-sm mr-2 text-gray-400"></i>
                    {{t 'profile.title'}}
                </LinkTo>
                <LinkTo class="dropdown-item" @route='settings'>
                    <i class="fa fa-cog fa-fw fa-sm mr-2 text-gray-400"></i>
                    {{t 'settings'}}
                </LinkTo>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item" {{action 'logout'}}>
                    <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    {{t 'logout'}}
                </a>
            </div>
        </li>
    </ul>
</nav>
