{{#bs-button-group
        value=buttonGroupValue
        type="checkbox"
        onChange=(action (mut buttonGroupValue)) as |bg|}}
    {{#bg.button value='zone.type.physical'}}{{t 'zone.type.physical'}}{{/bg.button}}
    {{#bg.button value='zone.type.logical'}}{{t 'zone.type.logical'}}{{/bg.button}}
{{/bs-button-group}}
<ul>
    {{#each buttonGroupValue as |value|}}
        <li>{{t value}}</li>
    {{/each}}
</ul>

{{ember-jstree
        actionReceiver=jsTreeActionReceiver
        eventDidChange='handleJstreeEventDidChange'
        actionGetParent='actionGetParent'
        data=zoneDataTree
        plugins=plugins

}}
<div class="row">
    <div class="col-md-6">
        <div class="col-md-3">
            {{bs-button onClick=(action "closeAllNodes") type="primary" defaultText="Close all" btn-size="sm"}}
        </div>
        <div class="col-md-3">
            {{bs-button onClick=(action "expandAll") type="primary" defaultText="Expand all" btn-size="sm"}}
        </div>
    </div>
</div>
