<div class="alert alert-info text-center space-top" role="alert">
  {{t 'schedule.user_schedule'}}<br>
</div>

<div class="row">
  <div class="col-md-2 space-bottom">
    {{bs-button onCLick=(action 'refresh') defaultText='Refresh'}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="user-schedule-info" class="{{greyedDisabledIfSyncing}}">
      {{#each user.schedules as |schedule|}}
        <div class="panel panel-default">
          <div class="panel-heading">
            Schedule: {{schedule.name}}
          </div>
          <div class="panel-body">
            <div id="content">
              <!-- Recap of the schedule -->
              {{#if schedule.timeframes.length}}
                Timeframes:
                <ul>
                  {{#each schedule.timeframes as |tf|}}
                    <li>
                      {{tf.startTime}} to {{tf.endTime}} on {{timeframe-weekday-list tf}}
                    </li>
                  {{/each}}
                </ul>
              {{else}}
                <div class="alert alert-danger text-center" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  {{t 'schedule.no_timeframe'}}
                </div>
              {{/if}}

              {{#each schedule.mapping as |mapping|}}
                {{#if (is-user-part-of-mapping mapping user.id)}}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      Mapping: {{mapping.alias}}
                      <div class="pull-right">
                        {{button-with-confirmation
                          type='danger'
                          icon='glyphicon glyphicon-remove'
                          size='xs'
                          text=(t 'schedule.remove_from_mapping')
                          message=(t 'schedule.remove_from_mapping_confirm')
                          onConfirm=(action 'leaveMapping' mapping)
                        }}
                      </div>
                    </div>
                    <div class="panel-body">
                      <div id="content">
                        {{#if mapping.doors.length}}
                          {{t 'schedule.grant_to_doors'}}
                          <ul>
                            {{#each mapping.doors as |door|}}
                              <li>
                                <LinkTo @route='door' @query={{hash id=door.id}}>{{door.alias}}</LinkTo>
                              </li>
                            {{/each}}
                          </ul>
                        {{else}}
                          <div class="alert alert-danger text-center" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{t 'schedule.no_doors'}}
                          </div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body space-bottom">
              {{schedule-mapping-picker action=(action 'addScheduleMapping')}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
