<table class="table table-striped">
    <thead>
    <tr>
        <th>{{t 'table.group_id'}}</th>
        <th>{{t 'table.group_name'}}</th>
        <th>{{t 'rank'}}</th>
        <th>{{t 'table.join_date'}}</th>
        <th>{{t 'table.total_member'}}</th>
      {{#if kickOrLeave}}
          <th>{{t 'action'}}</th>
      {{/if}}
    </tr>
    </thead>
    <tbody>
    {{#each user.memberships as |membership|}}
        <tr>
            <td>
              {{#link-to 'group' membership.group.id}}
                {{membership.group.id}}
              {{/link-to}}
            </td>
            <td>
              {{membership.group.name}}
            </td>
            <td>{{membership.rank}}</td>
            <td>{{membership.timestamp}}</td>
            <td>{{membership.group.memberCount}}</td>
          {{#if kickOrLeave}}
              <td>
                {{button-with-confirmation
                  type='danger'
                  icon='glyphicon glyphicon-ban-circle'
                  size='xs'
                  text=kickOrLeave
                  message=kickOrLeaveMessage
                  onConfirm=(action 'deleteMembership' membership.id)
                }}</td>
          {{/if}}
        </tr>
    {{/each}}
    </tbody>
</table>
