<table class="table table-hover space-top">
    <thead>
    <tr>
        <th>{{t 'table.group_id'}}</th>
        <th>{{t 'table.group_name'}}</th>
        <th>{{t 'rank'}}</th>
        <th>{{t 'table.join_date'}}</th>
        <th>{{t 'table.total_member'}}</th>
        {{#if this.kickOrLeave}}
            <th>{{t 'action'}}</th>
        {{/if}}
    </tr>
    </thead>
    <tbody>
    {{#each this.user.memberships as |membership|}}
        <LinkTo @query='group' @model={{membership.group.id}}>
          <tr>
            <td>
                {{membership.group.id}}
            </td>
            <td>
                {{membership.group.name}}
            </td>
            <td>{{t membership.rank}}</td>
            <td>{{membership.timestamp}}</td>
            <td>{{membership.group.memberCount}}</td>
            {{#if this.kickOrLeave}}
                <td>
                    <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-ban-circle" @size="xs" @text={{this.kickOrLeave}} @message={{this.kickOrLeaveMessage}} @onConfirm={{fn this.deleteMembership membership.id}} /></td>
            {{/if}}
          </tr>
        </LinkTo>
    {{/each}}
    </tbody>
</table>
