<table class="table table-hover space-top">
    <thead>
    <tr>
        <th>#Id</th>
        <th>{{t 'alias'}}</th>
        <th>{{t 'type'}}</th>
        <th>{{t 'display_id'}}</th>
    </tr>
    </thead>
    <tbody>
    {{#each user.credentials as |credential|}}
        <tr>
            <td>
                {{link-to-credential credential=credential text=credential.id}}
            </td>
            <td> {{link-to-credential credential=credential text=credential.alias}}</td>
            <td>{{credential.type}}</td>
            <td>{{credential.displayIdentifier}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
