<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <th>#Id</th>
        <th>{{t 'firstname'}}</th>
        <th>{{t 'lastname'}}</th>
        <th>{{t 'email'}}</th>
        <th>{{t 'username'}}</th>
        </thead>
        <tbody>
        {{#each users as |user|}}
            {{#if user.id}}
            {{#link-to "profile" user.id tagName = "tr"}}
                <td>{{user.id}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                {{/link-to}}
        {{/if}}
        {{/each}}
        </tbody>
    </table>
</div>
