<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Username</th>
        </thead>
        <tbody>
        {{#each users as |user|}}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>
                    {{#link-to 'profile' user.id}}
                      {{user.username}}
                    {{/link-to}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
