{{#link-to 'credentials.wiegand-card-create' class='btn btn-primary'}}
    Add WiegandCard
{{/link-to}}
&nbsp;&nbsp;
{{#link-to 'credentials.pin-code-create' class='btn btn-primary'}}
    Add PinCode
{{/link-to}}
<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>Type</th>
        <th>Display Identifier</th>
        <th>Owner</th>
        <th>Alias</th>
        <th>Delete</th>
        </thead>
        <tbody>
        {{#each model as |cred|}}
            <tr>
                <td>
                  {{link-to-credential credential=cred text=cred.id}}
                </td>
                <td>{{cred.type}}</td>
                <td>{{cred.displayIdentifier}}</td>
                <td>
                  {{#if cred.owner}}
                    {{#link-to 'profile' cred.owner.id}}
                      {{cred.owner.username}}
                    {{/link-to}}
                  {{/if}}
                </td>
                <td>
                  {{cred.alias}}
                </td>
                <td>
                  {{button-with-confirmation
                    type='danger'
                    icon='glyphicon glyphicon-remove'
                    size='xs'
                    text='Delete'
                    message='Are you sure you wish to delete this credential ?'
                    onConfirm=(route-action 'deleteCredential' cred.id)
                  }}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
