<LinkTo @route='credentials.rfid-card-create'>
    <span class='btn btn-primary'>{{t 'credentials.rfid_card.add'}}</span>
</LinkTo>
&nbsp;
<LinkTo @route='credentials.pin-code-create'>
    <span class='btn btn-primary'>{{t 'credentials.pin_code.add'}}</span>
</LinkTo>
<hr>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <th>#Id</th>
        <th class="col-md-2">{{t 'alias'}}</th>
        <th>{{t 'type'}}</th>
        <th>{{t 'display_id'}}</th>
        <th>{{t 'owner'}}</th>
        <th>{{t 'enabled'}}</th>
        <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
        </thead>
        <tbody>
        {{#each this.model as |cred|}}
            <!--hotfixed it to hide an element that needed to be cleaned, when calling findAllCredentials,
         there may be an error because of the bug with the unloadRecord -->
            {{#if cred.id}}
                {{#if cred.isRFIDCard}}
                    <tr>
                        <td><LinkTo @route='credentials.rfid-card' @model={{cred.id}}>{{cred.id}}</LinkTo></td>
                        <td><LinkTo @route='credentials.rfid-card' @model={{cred.id}}>{{cred.alias}}</LinkTo></td>
                        <td>{{cred.type}}</td>
                        <td>{{cred.displayIdentifier}}
                        </td>
                        <td>
                            {{#if cred.owner}}
                                <LinkTo @route='profile' @model={{cred.owner.id}}>
                                    {{cred.owner.username}}
                                </LinkTo>
                            {{/if}}
                        </td>
                        <td>{{boolean-to-colored-yes-no cred.isEnabled}}</td>
                        <td>
                            {{button-with-confirmation
                                    type='danger'
                                    icon='glyphicon glyphicon-remove'
                                    size='xs'
                                    text=(t 'delete')
                                    message=(t 'credentials.delete_confirm')
                                    onConfirm=(route-action 'deleteCredential' cred)
                            }}
                        </td>
                    </tr>
                {{/if}}
                {{#if cred.isPinCode}}
                    <LinkTo @route='credentials.pin-code' @model={{cred.id}}>
                      <tr>
                        <td>{{cred.id}}</td>
                        <td>{{cred.alias}}</td>
                        <td>{{cred.type}}</td>
                        <td>{{cred.displayIdentifier}}
                        </td>
                        <td>
                            {{#if cred.owner}}
                                <LinkTo @query='profile' @model={{cred.owner.id}}>
                                    {{cred.owner.username}}
                                </LinkTo>
                            {{/if}}
                        </td>
                        <td>{{boolean-to-colored-yes-no cred.isEnabled}}</td>
                        <td>
                            {{button-with-confirmation
                                    type='danger'
                                    icon='glyphicon glyphicon-remove'
                                    size='xs'
                                    text=(t 'delete')
                                    message=(t 'credentials.delete_confirm')
                                    onConfirm=(route-action 'deleteCredential' cred)
                            }}
                        </td>
                      </tr>
                    </LinkTo>
                {{/if}}
            {{/if}}
        {{/each}}
        </tbody>
    </table>
</div>
