{{#link-to 'credentials.rfid-card-create' class='btn btn-primary'}}
    {{t 'credentials.rfid_card.add'}}
{{/link-to}}
&nbsp;
{{#link-to 'credentials.pin-code-create' class='btn btn-primary'}}
    {{t 'credentials.pin_code.add'}}
{{/link-to}}
<hr>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <th>#Id</th>
        <th>{{t 'alias'}}</th>
        <th>{{t 'type'}}</th>
        <th>{{t 'display_id'}}</th>
        <th>{{t 'owner'}}</th>
        <th>{{t 'enabled'}}</th>
        <th>{{t 'delete'}}</th>
        </thead>
        <tbody>
        {{#each model as |cred|}}
            {{#if cred.id}}
                <tr>
                    <td>{{link-to-credential credential=cred text=cred.id}}</td>
                    <td>{{link-to-credential credential=cred text=cred.alias}}</td>
                    <td>{{link-to-credential credential=cred text=cred.type}}</td>
                    <td>{{link-to-credential credential=cred text=cred.displayIdentifier}}
                    </td>
                    <td>
                        {{#if cred.owner}}
                            {{#link-to 'profile' cred.owner.id}}
                                {{cred.owner.username}}
                            {{/link-to}}
                        {{/if}}
                    </td>
                    <td>{{boolean-to-colored-yes-no cred.isEnabled}}</td>
                    <td>
                        {{button-with-confirmation
                                type='danger'
                                icon='glyphicon glyphicon-remove'
                                size='xs'
                                text=(t 'delete')
                                message=(t 'credentials.delete_confirm')
                                onConfirm=(route-action 'deleteCredential' cred)
                        }}
                    </td>
                </tr>
            {{/if}}
        {{/each}}
        </tbody>
    </table>
</div>