{{#link-to 'credentials.rfid-card-create' class='btn btn-primary'}}
    {{t 'credentials.rfid_card.add'}}
{{/link-to}}
&nbsp;
{{#link-to 'credentials.pin-code-create' class='btn btn-primary'}}
    {{t 'credentials.pin_code.add'}}
{{/link-to}}
<hr>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <th>#Id</th>
        <th>{{t 'alias'}}</th>
        <th>{{t 'type'}}</th>
        <th>{{t 'display_id'}}</th>
        <th>{{t 'owner'}}</th>
        <th>{{t 'enabled'}}</th>
        <th>{{t 'delete'}}</th>
        </thead>
        <tbody>
        {{#each model as |cred|}}
            <!--hotfixed it to hide an element that needed to be cleaned, when calling findAllCredentials,
         there may be an error because of the bug with the unloadRecord -->
            {{#if cred.id}}
                {{#if cred.isRFIDCard}}
                    {{#link-to 'credentials.rfid-card' cred.id tagName="tr"}}
                        <td>{{cred.id}}</td>
                        <td>{{cred.alias}}</td>
                        <td>{{cred.type}}</td>
                        <td>{{cred.displayIdentifier}}
                        </td>
                        <td>
                            {{#if cred.owner}}
                                {{#link-to 'profile' cred.owner.id}}
                                    {{cred.owner.username}}
                                {{/link-to}}
                            {{/if}}
                        </td>
                        <td>{{boolean-to-colored-yes-no cred.isEnabled}}</td>
                        <td>
                            {{button-with-confirmation
                                    type='danger'
                                    icon='glyphicon glyphicon-remove'
                                    size='xs'
                                    text=(t 'delete')
                                    message=(t 'credentials.delete_confirm')
                                    onConfirm=(route-action 'deleteCredential' cred)
                            }}
                        </td>
                    {{/link-to}}
                {{/if}}
                {{#if cred.isPinCode}}
                    {{#link-to 'credentials.pin-code' cred.id tagName="tr"}}
                        <td>{{cred.id}}</td>
                        <td>{{cred.alias}}</td>
                        <td>{{cred.type}}</td>
                        <td>{{cred.displayIdentifier}}
                        </td>
                        <td>
                            {{#if cred.owner}}
                                {{#link-to 'profile' cred.owner.id}}
                                    {{cred.owner.username}}
                                {{/link-to}}
                            {{/if}}
                        </td>
                        <td>{{boolean-to-colored-yes-no cred.isEnabled}}</td>
                        <td>
                            {{button-with-confirmation
                                    type='danger'
                                    icon='glyphicon glyphicon-remove'
                                    size='xs'
                                    text=(t 'delete')
                                    message=(t 'credentials.delete_confirm')
                                    onConfirm=(route-action 'deleteCredential' cred)
                            }}
                        </td>
                    {{/link-to}}
                {{/if}}
            {{/if}}
        {{/each}}
        </tbody>
    </table>
</div>