<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>Type</th>
        <th>Owner</th>
        <th>Alias</th>
        {{#if deleteLink}}
            <th>Delete</th>
        {{/if}}
        </thead>
        <tbody>
        {{#each model as |cred|}}
            <tr>
                <td>{{cred.id}}</td>
                <td>{{cred.type}}</td>
              <td>
                  {{#if cred.owner}}
                    {{#link-to 'profile' cred.owner.id}}
                      {{cred.owner.username}}
                    {{/link-to}}
                  {{/if}}
              </td>
                <td>
                  {{#link-to 'credentials.wiegand-card' cred.id}}
                    {{cred.alias}}
                  {{/link-to}}
                </td>
              {{#if deleteLink}}
                  <td>
                    {{button-with-confirmation
                      type='danger'
                      icon='glyphicon glyphicon-remove'
                      size='xs'
                      text='Delete'
                      message='Are you sure you wish to delete this credential ?'
                      onConfirm=(route-action 'deleteCredential' cred.id)
                    }}
                  </td>
              {{/if}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
