<div>
    <h2>Alias: {{model.alias}}</h2>
</div>

<div>
  {{#bs-tab as |tab|}}
    {{#tab.pane title=(t 'parameters')}}

        <div >
          {{button-with-confirmation
            type='danger'
            icon='glyphicon glyphicon-remove'
            size='sm'
            text=(t 'delete')
            message=(t 'credentials.delete_confirm')
            onConfirm=(route-action 'deleteCredential')
          }}
        </div>

        <div class="col-md-6">
          {{pin-code-form pin=model action=(route-action 'updatePin')}}
        </div>

        <div class="col-md-6">
          {{validity-control enabled=(mut model.validityEnabled)
                             startDate=(mut model.validityStart)
                             endDate=(mut model.validityEnd)}}
        </div>

    {{/tab.pane}}

    {{#tab.pane title=(t 'access')}}
      {{credential-schedules credential=model}}
    {{/tab.pane}}
  {{/bs-tab}}
</div>
