<div>
  <h2>Alias: {{this.model.alias}}</h2>
</div>

<div>
  <BsTab as |tab|>
    <tab.pane @title={{t "parameters"}}>
      <RfidCardForm @card={{model}} @action={{route-action "updateCard"}} @delete={{route-action "deleteCredential"}} />
    </tab.pane>

    <tab.pane @title={{t "access"}}>
      <CredentialSchedules @credential={{this.model}} />
    </tab.pane>
  </BsTab>
</div>