<div>
    <h2>Alias: {{model.alias}}</h2>
</div>

<div>
  {{#bs-tab}}
    {{#bs-tab-pane title=(t 'parameters')}}

        <div >
          {{button-with-confirmation
            type='danger'
            icon='glyphicon glyphicon-remove'
            size='sm'
            text=(t 'delete')
            message=(t 'credentials.delete_confirm')
            onConfirm=(route-action 'deleteCredential')
          }}
        </div>

        <div class="col-md-6">
          {{wiegand-card-form card=model action=(route-action 'updateCard')}}
        </div>

        <div class="col-md-6">
            {{validity-control enabled=(mut model.validityEnabled)
                               startDate=(mut model.validityStart)
                               endDate=(mut model.validityEnd)}}
        </div>

    {{/bs-tab-pane}}

    {{#bs-tab-pane title=(t 'access')}}
        {{credential-schedules credential=model}}
    {{/bs-tab-pane}}
  {{/bs-tab}}
</div>
