<div class="card">
  <div class="card-body">
    <BsForm @formLayout="vertical" @model={{this.args.buzzer}} @onSubmit={{this.args.action}} as |form|>
      <div class="card-text">
        <fieldset>
          <LedBuzzerForm @model={{this.model}} @ledBuzzer={{this.args.buzzer}} @form={{form}} />
        </fieldset>
      </div>
      <div class="space-top">
        <form.submitButton @type="success">{{t 'submit'}}</form.submitButton>
        {{#if this.args.delete}}
          <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="md" @text={{t "delete"}} @message={{t "led-buzzer.delete_confirm"}} @onConfirm={{this.args.delete}} />
        {{/if}}
      </div>
    </BsForm>
</div>
</div>