<div class="card">
  <div class="card-body">
    <BsForm @formLayout="vertical" @model={{this.args.led}} @onSubmit={{this.args.action}} as |form|>
      <fieldset>
        <div class="card-text">
          <LedBuzzerForm @model={{this.model}} @ledBuzzer={{this.args.led}} @form={{form}} />
        </div>
        <div class="space-top">
          <form.submitButton @type="success">{{t 'submit'}}</form.submitButton>
          {{#if this.args.delete}}
            <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="md" @text={{t "delete"}} @message={{t "led-buzzer.delete_confirm"}} @onConfirm={{this.args.delete}} />
          {{/if}}
        </div>
      </fieldset>
    </BsForm>
  </div>
</div>