<BsForm @formLayout="vertical" @model={{this.piface-digital-gpio}} @onSubmit={{this.action}} as |form|>
  <div class="col-md-6">
    <fieldset>
      <legend>{{t 'configuration'}}</legend>

      <form.element @controlType="text" @label={{t "name"}} @placeholder={{t "name"}} @property="name" as |el|>
        <el.control @id="Tooltip-name" />
        <BsTooltip @placement="right" @triggerElement="#Tooltip-name" @triggerEvents="hover">{{t 'piface_digital_gpio_information.gpio_name'}}</BsTooltip>
      </form.element>

      <form.element @controlType="number" @label={{t "gpio_number"}} @placeholder="0 - 7" @property="number" as |el|>
        <el.control @id="Tooltip-number" />
        <BsTooltip @placement="right" @triggerElement="#Tooltip-number">{{t 'piface_digital_gpio_information.number'}}</BsTooltip>
      </form.element>

      <form.element @property="hardwareAddress" @label={{t "hardware_address"}} @controlType="number" @placeholder={{t "type_address"}} as |el|>
        <el.control @id="Tooltip-address" />
        <BsTooltip @placement="right" @triggerElement="#Tooltip-address">{{t 'piface_digital_gpio_information.address'}}</BsTooltip>
      </form.element>

      <form.element @property="direction" @label={{t "direction"}}>
      <div id="Tooltip-direction">
        <PowerSelect @selected={{this.piface-digital-gpio.direction}} @searchEnabled={{false}} @options={{this.allDirection}} @onChange={{fn (mut this.piface-digital-gpio.direction)}} @placeholder={{t "type_direction"}} as |direction|>
          {{t direction}}
        </PowerSelect>
        <BsTooltip @placement="right" @triggerElement="#Tooltip-direction">{{t 'piface_digital_gpio_information.direction'}}</BsTooltip>
      </div>
      </form.element>

      {{#if (eq this.piface-digital-gpio.direction 'out')}}
        <form.element @property="defaultValue" @label={{t "default_value"}}>
          <div id="Tooltip-value">
          <PowerSelect @selected={{this.piface-digital-gpio.defaultValue}} @searchEnabled={{false}} @options={{this.allValue}} @onChange={{fn (mut this.piface-digital-gpio.defaultValue)}} @placeholder={{t "type_value"}} as |newValue|>
            {{t newValue}}
          </PowerSelect>
          <BsTooltip @placement="right" @triggerElement="#Tooltip-value" @triggerEvent="hover">{{t 'piface_digital_gpio_information.value'}}</BsTooltip>
          </div>
        </form.element>
      {{/if}}

      <form.element @property="enabled" @label={{t "enable"}}>
        <div class="pull-right" id="Tooltip-enable">
          <DeviceToggleEnabled @device={{this.piface-digital-gpio}} @saveIt={{false}} @form={{form}} />
          <BsTooltip @placement="right" @triggerElement="#Tooltip-enable" @triggerEvent="hover">{{t 'piface_digital_gpio_information.enable'}}</BsTooltip>
        </div>
      </form.element>

    <div class="row">
      <div class="col-md-6">
        <BsButton @defaultText={{t "submit"}} @type="success" @size="md" @buttonType="submit" />
      </div>
      {{#if this.delete}}
        <div class="pull-right form-button-delete">
          <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="md" @text={{t "delete"}} @message={{t "piface-digital-gpios.delete_confirm"}} @onConfirm={{this.delete}} />
        </div>
      {{/if}}
    </div>
    </fieldset>
  </div>
</BsForm>


