<div class="col-md-12">
  {{#step-manager did-transition=(action 'afterTransition') as |w|}}
    <div class="container">
      <ul class="nav nav-pills nav-justified thumbnail">
        {{#each steps as |step|}}
          {{#if (eq w.currentStep step.value)}}
            <li class="active">
              <a href="#">
                <div class="list-group-item-heading">{{step.name}}</div>
                <p class="list-group-item-text">{{step.description}}</p>
              </a>
            </li>
          {{else}}
            <li>
              <a href="#">
                <div class="list-group-item-heading">{{step.name}}</div>
                <p class="list-group-item-text">{{step.description}}</p>
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

    {{#w.step name='a'}}
      <div class="col-md-6">
        <fieldset>
          <legend>{{t 'configuration'}}</legend>

          {{#bs-form formLayout="vertical" as |form|}}
            {{#form.element controlType="text" label=(t 'name')
                            placeholder=(t 'name')
                            required=true
                            onChange=(action (mut configName))
                            property=configName as |el|}}
              {{el.control}}
              {{#bs-tooltip placement="right" triggerEvents='hover'}}{{t 'information.name'}}{{/bs-tooltip}}
            {{/form.element}}

            {{#form.element label=(t 'gpio')}}
              {{#power-select
                selected=gpioType
                searchEnabled=false
                options=listOfGpio
                onchange=(action (mut gpioType))
              as |gpio|}}
                {{t gpio}}
              {{/power-select}}
            {{/form.element}}
          {{/bs-form}}

          {{#bs-form formLayout='vertical' model=this as |form|}}
            Do you want a LED and or a buzzer
            {{form.element label=(t 'led')
                           controlType='checkbox'
                           property='ledEnabled'}}

            {{form.element label=(t 'buzzer')
                           controlType='checkbox'
                           property='buzzerEnabled'}}
          {{/bs-form}}

          {{bs-button type='success' text='Next' onClick=(action 'transitionFromAToB' (action w.transition-to 'b'))}}
        </fieldset>
      </div>
    {{/w.step}}

    {{#w.step name='b'}}
      This is the second step!

      {{#bs-form formLayout="vertical" model=pifaceDigitalGpioHigh as |form|}}
        {{#form.element controlType="number" label=(t 'number_high')
                        placeholder='0 - 7'
                        property="number" as |el|}}
          {{el.control}}
          {{#bs-tooltip placement="right"}}{{t 'information.number'}}{{/bs-tooltip}}
        {{/form.element}}
      {{/bs-form}}

      {{#bs-form formLayout="vertical" model=pifaceDigitalGpioLow as |form|}}
        {{#form.element controlType="number" label=(t 'number_low')
                        placeholder='0 - 7'
                        property="number" as |el|}}
          {{el.control}}
          {{#bs-tooltip placement="right"}}{{t 'information.number'}}{{/bs-tooltip}}
        {{/form.element}}
      {{/bs-form}}

      {{#if ledEnabled}}
        {{#bs-form formLayout="vertical" model=pifaceDigitalGpioLed as |form|}}
          {{#form.element controlType="number" label=(t 'number_led')
                          placeholder='0 - 7'
                          property="number" as |el|}}
            {{el.control}}
            {{#bs-tooltip placement="right"}}{{t 'information.number'}}{{/bs-tooltip}}
          {{/form.element}}
        {{/bs-form}}
      {{/if}}

      {{#if buzzerEnabled}}
        {{#bs-form formLayout="vertical" model=pifaceDigitalGpioBuzzer as |form|}}

          {{#form.element controlType="number" label=(t 'number_buzzer')
                          placeholder='0 - 7'
                          property="number" as |el|}}
            {{el.control}}
            {{#bs-tooltip placement="right"}}{{t 'information.number'}}{{/bs-tooltip}}
          {{/form.element}}
        {{/bs-form}}
      {{/if}}
      {{bs-button type='success' text='Next' onClick=(action 'transitionFromBToC' (action w.transition-to 'c'))}}
    {{/w.step}}

    {{#w.step name='c'}}
      There is one more step: restarting the server.
      {{bs-button type='success' text='Next' onClick=(action 'restart')}}
    {{/w.step}}

    {{#w.step name='d'}}
      This is the forth step!
    {{/w.step}}

  {{/step-manager}}
</div>