<LinkTo @route="create" class="btn btn-primary">
  {{t 'piface-digital-gpios.create_config'}}
</LinkTo>
<hr>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <th>#Id</th>
    <th class="col-md-2">{{t 'name'}}</th>
    <th>{{t 'gpio_number'}}</th>
    <th>{{t 'direction'}}</th>
    <th>{{t 'default_value'}}</th>
    <th>Test</th>
    <th>{{t 'enable'}}</th>
    <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
    </thead>
    <tbody>
    {{#each this.model as |piface-digital-gpio|}}
    {{#if piface-digital-gpio.id}}
      <tr>
        <td>
          <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}}>
            <piface-digital-gpio.id />
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}}>
            <piface-digital-gpio.name />
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}}>
            <piface-digital-gpio.number />
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}}>
            {{t piface-digital-gpio.direction}}
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}}>
            {{#if (eq piface-digital-gpio.direction 'out')}}
              {{#if (eq piface-digital-gpio.defaultValue 'true')}}
                {{t 'true'}}
              {{else}}
                {{t 'false'}}
              {{/if}}
            {{/if}}
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}}>
            {{#if (eq piface-digital-gpio.direction 'out')}}
              <PifaceDigitalGpioTest @gpioId={{piface-digital-gpio.id}} />
            {{/if}}
          </LinkTo>
        </td>
        <td>
          <div class="pull-left">
            <DeviceToggleEnabled @device={{piface-digital-gpio}} @saveIt={{true}} />
          </div>
        </td>
        <td>
          <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="xs" @text={{t "delete"}} @message={{t "piface-digital-gpios.delete_confirm"}} @onConfirm={{fn this.deletePifaceDigitalGpio piface-digital-gpio}} />
        </td>
      </tr>
    {{/if}}
    {{/each}}
    </tbody>
  </table>
</div>
