<LinkTo @route="create" class="btn btn-primary">
  {{t 'piface-digital-gpios.create_config'}}
</LinkTo>
<hr>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <th>#Id</th>
    <th class="col-md-2">{{t 'name'}}</th>
    <th>{{t 'gpio_number'}}</th>
    <th>{{t 'direction'}}</th>
    <th>{{t 'default_value'}}</th>
    <th>Test</th>
    <th>{{t 'enable'}}</th>
    <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
    </thead>
    <tbody>
    {{#each model as |piface-digital-gpio|}}
    {{#if piface-digital-gpio.id}}
      <tr>
        <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}} @tagName="td">
          <piface-digital-gpio.id />
        </LinkTo>
        <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}} @tagName="td">
          <piface-digital-gpio.name />
        </LinkTo>
        <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}} @tagName="td">
          <piface-digital-gpio.number />
        </LinkTo>
        <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}} @tagName="td">
          {{t piface-digital-gpio.direction}}
        </LinkTo>
        <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}} @tagName="td">
          {{#if (eq piface-digital-gpio.direction 'out')}}
            {{#if (eq piface-digital-gpio.defaultValue 'true')}}
              {{t 'true'}}
            {{else}}
              {{t 'false'}}
            {{/if}}
          {{/if}}
        </LinkTo>
        <LinkTo @route="piface-digital-gpio" @model={{piface-digital-gpio.id}} @tagName="td">
          {{#if (eq piface-digital-gpio.direction 'out')}}
            <PifaceDigitalGpioTest @gpioId={{piface-digital-gpio.id}} />
          {{/if}}
        </LinkTo>
        <td>
          <div class="pull-left">
            <DeviceToggleEnabled @device={{piface-digital-gpio}} @saveIt={{true}} />
          </div>
        </td>
        <td>
          <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="xs" @text={{t "delete"}} @message={{t "piface-digital-gpios.delete_confirm"}} @onConfirm={{route-action "deletePifaceDigitalGpio" piface-digital-gpio}} />
        </td>
      </tr>
    {{/if}}
    {{/each}}
    </tbody>
  </table>
</div>
