<LinkTo @route='schedules.create'>
    <span class='btn btn-primary'>{{t 'schedule.create_schedule'}}</span>
</LinkTo>
<hr>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <th>#Id</th>
        <th class="col-md-2">{{t 'name'}}</th>
        <th>{{t 'description'}}</th>
        <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
        </thead>
        <tbody>
        {{#each this.model as |sched|}}
            <tr>
            <td>
                <LinkTo @route='schedule' @model={{sched.id}}>{{sched.id}}</LinkTo>
            </td>
            <td>
                <LinkTo @route='schedule' @model={{sched.id}}>{{sched.name}}</LinkTo>
            </td>
            <td>{{sched.description}}</td>
            <td>
                {{button-with-confirmation
                        type='danger'
                        icon='glyphicon glyphicon-remove'
                        size='xs'
                        text=(t 'delete')
                        message=(t 'schedule.delete_confirm')
                        onConfirm=(route-action 'deleteSchedule' sched.id)}}
            </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
