<table class="table table-hover space-top">
    <thead>
    <tr>
        <th>#Id</th>
        <th>{{t 'firstname'}}</th>
        <th>{{t 'lastname'}}</th>
        <th>{{t 'username'}}</th>
        <th>{{t 'table.join_date'}}</th>
        <th>{{t 'rank'}}</th>
        {{#if this.canRemoveUserFromGroup}}
            <th>{{t 'remove'}}</th>
        {{/if}}
    </tr>
    </thead>
    <tbody>
    {{#each this.args.group.memberships as |membership|}}
        <tr>
            <td role="button" {{on 'click' (fn this.gotoItem membership.user.id)}}>{{membership.user.id}}</td>
            <td role="button" {{on 'click' (fn this.gotoItem membership.user.id)}}>{{membership.user.firstname}}</td>
            <td role="button" {{on 'click' (fn this.gotoItem membership.user.id)}}>{{membership.user.lastname}}</td>
            <td role="button" {{on 'click' (fn this.gotoItem membership.user.id)}}>{{membership.user.username}}</td>
            <td>{{membership.timestamp}}</td>
            <td>{{t membership.rank}}</td>
            {{#if this.canRemoveUserFromGroup}}
                <td>
                    <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-ban-circle" @size="xs" @text={{t "remove"}} @message={{t 'users.remove_from_group' username=membership.user.username}} @onConfirm={{fn this.deleteMembership membership.id}} /></td>
            {{/if}}
        </tr>
    {{/each}}
    </tbody>
</table>
