<BsForm as |form|>
    <div class="row">
        <div class="col-md-2 col-sm-4">
            <form.element @label={{t "username"}}>
                <PowerSelect @searchEnabled={{true}} @selected={{this.selectedUser.username}} @search={{this.searchUser}} @onChange={{this.setUser}} @allowClear={{true}} @placeholder={{t "username"}} as |user|>
                    {{user.username}}
                </PowerSelect>
            </form.element>
        </div>
        <div class="col-md-2 col-sm-4">
            <form.element @label={{t "rank"}}>
                <PowerSelect @selected={{this.selectedRank}}
                             @options={{this.allRank}}
                             @onChange={{fn (mut this.selectedRank)}}
                             @placeholder={{t 'rank_group'}} as |rank|>
                    {{t rank}}
                </PowerSelect>
            </form.element>
        </div>
        <div class="col-md-2 col-sm-4 button-next-to-power-select">
            <form.submitButton @icon="glyphicon glyphicon-plus" @onClick={{this.action}}>{{t 'users.add_to_group'}}</form.submitButton>
        </div>
    </div>
</BsForm>
