<div class="alert alert-info text-center space-top" role="alert">
  {{t 'schedule.group_schedule'}}
</div>

<BsButton @action={{this.refresh}} @defaultText={{t 'refresh'}} />

<div class="user-schedule-info space-top">
  {{#each this.args.group.schedules as |schedule|}}
    <div class="card">
      <div class="card-header">
        {{t 'schedule.asfield'}} {{schedule.name}}
      </div>
      <div class="card-body">
        <div>
          {{!-- Recap of the schedule --}}
          {{#if schedule.timeframes.length}}
            {{t 'timeframes_'}}
            <ul>
              {{#each schedule.timeframes as |tf|}}
                <li>
                  {{tf.startTime}} to {{tf.endTime}} on {{timeframe-weekday-list tf}}
                </li>
              {{/each}}
            </ul>
          {{else}}
            <div class="alert alert-danger text-center" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              {{t 'schedule.no_timeframe'}}
            </div>
          {{/if}}

          {{#each schedule.mapping as |mapping|}}
            {{#if (is-group-part-of-mapping mapping this.args.group.id)}}
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-8">
                      {{t 'schedule.mapping' alias=mapping.alias}}
                    </div>
                    <div class="col-md-4 text-right">
                      <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="xs" @text={{t "schedule.remove_from_mapping"}} @message={{t "schedule.remove_from_mapping_confirm"}} @onConfirm={{fn this.leaveMapping mapping}} />
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div>
                    {{#if mapping.doors.length}}
                      {{t 'schedule.grant_to_doors'}}
                      <ul>
                        {{#each mapping.doors as |door|}}
                          <li>
                            <LinkTo @route='door' @model={{door.id}}>{{door.alias}}</LinkTo>
                          </li>
                        {{/each}}
                      </ul>
                    {{else}}
                      <div class="alert alert-danger text-center" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{t 'schedule.no_doors'}}
                      </div>
                    {{/if}}
                  </div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}

  <ScheduleMappingPicker @action={{this.addScheduleMapping}} />
</div>
