<h3>{{t 'leosac_builtin_ap.action.title'}}</h3>
<div class="row">
  <div class="col-md-3">
    <h4>{{t 'leosac_builtin_ap.action.success_actions'}}</h4>
    {{#each this.sortedSuccessAction as |success|}}
      <BsAccordion as |acc|>
        <acc.item @title={{t "leosac_builtin_ap.action.action_number"
          command=success.command device=success.target.name}}>
          <div class="row">
            <div class="col-md-6">
              {{t 'leosac_builtin_ap.action.targeted_device'}}:
            </div>
            <div class="col-md-6">
              {{success.target.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {{t 'leosac_builtin_ap.action.command'}}:
            </div>
            <div class="col-md-6">
              {{success.command}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <LeosacBuiltinAccessPointActionParams @customAction={{success}} />
            </div>
          </div>
          <div class="space-bottom">
            <BsButton @defaultText={{t 'remove'}} @type='danger' @size='xs' @onClick={{fn this.removeSuccessAction success}} />
          </div>
        </acc.item>
      </BsAccordion>
    {{/each}}
  </div>
  <div class="col-md-3">
    <h4>{{t 'leosac_builtin_ap.action.error_actions'}}</h4>
    {{#each this.sortedErrorAction as |error|}}
      <BsAccordion as |acc|>
        <acc.item @title={{t "leosac_builtin_ap.action.action_number"
          command=error.command device=error.target.name}}>
          <div class="row">
            <div class="col-md-6">
              {{t 'leosac_builtin_ap.action.targeted_device'}}:
            </div>
            <div class="col-md-6">
              {{error.target.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {{t 'leosac_builtin_ap.action.command'}}:
            </div>
            <div class="col-md-6">
              {{error.command}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <LeosacBuiltinAccessPointActionParams @customAction={{error}} />
            </div>
          </div>
          <div class="space-bottom">
            <BsButton @defaultText={{t 'remove'}} @type='danger' @size='xs' @onClick={{fn this.removeErrorAction error}} />
          </div>
        </acc.item>
      </BsAccordion>
    {{/each}}
  </div>
</div>

<BsForm @formLayout='vertical' as |form|>
  <div class="row">
    <div class="col-md-6">
      <legend>{{t 'leosac_builtin_ap.action.create_action'}}</legend>
      <form.element @label={{t "leosac_builtin_ap.device_picker"}}>
        <DeviceListPicker @arrayOfDeviceClass={{this.arrayOfValidDevice}} @placeholder={{t "leosac_builtin_ap.device_placeholder"}} @newDevice={{this.selectedDevice}} />
      </form.element>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form.element @label={{t "leosac_builtin_ap.action.command_picker"}}>
        <PowerSelect @options={{this.availableCommand}}
                     @searchEnabled="false"
                     @placeholder={{t 'leosac_builtin_ap.action.command_placeholder'}}
                     @onchange={{fn (mut this.selectedCommand)}}
                     @selected={{this.selectedCommand}} as |command|>
          {{command}}
        </PowerSelect>
      </form.element>
    </div>
  </div>
</BsForm>
<div class="row">
  <div class="col-md-12">
    <BsButton @size='sm' @type="warning" @onClick={{this.addSuccessAction}} @defaultText={{t 'leosac_builtin_ap.action.add_success'}} />
    <BsButton @size='sm' @type="warning" @onClick={{this.addErrorAction}} @defaultText={{t 'leosac_builtin_ap.action.add_error'}} />
  </div>
</div>