{{!
Due to EmberJS bug #10780, we have to hack to prevent component
to render if there is no active session.
}}
{{#if this.authSrv._isLoggedIn}}
  <div id="wrapper">
    <SideMenu />
    <div id="content-wrapper" class="d-flex flex-column page-wrapper-whole-page">
      {{#each this.flashMessages.queue as |flash|}}
        <FlashMessage @flash={{flash}} as |component flash|>
          <p>{{flash.message}}</p>
        </FlashMessage>
      {{/each}}

      <TopMenu />

      <div id="content" class="container-fluid">
        {{!-- Page Heading --}}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">{{this.globalInfo.current_view_title}}</h1>
        </div>
        <div>
          {{outlet}}
        </div>
      </div>
      
    </div>
  </div>
{{else}}
  {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} as |component flash|>
      <p>{{flash.message}}</p>
    </FlashMessage>
  {{/each}}

  {{outlet}}

{{/if}}
