<footer class="navbar-fixed-bottom fixed-bottom mt-3">
  <div class="container">
    <p class="text-muted text-center">
      {{getenv 'appname'}} version: {{this.globalInfo.version}}
      --
      <a href="http://www.{{getenv 'siteUrl'}}">Leosac</a>
      --
      {{#if this.ws.isConnected}}
        <FaIcon @icon="check" class="footer-check-color" /> {{t 'connected'}}
      {{else}}
        <FaIcon @icon="refresh" @spin={{true}} @ class="footer-spinner-color" /> {{t 'disconnected'}}
      {{/if}}
    </p>
  </div>
</footer>
