<div>
  <BsForm @model="this" @onSubmit={{this.setNameApp}} as |form|>
    <div class="row">
      <div class="col-md-3 col-xs-10 col-sm-8">
        <form.element @label={{t "name_app"}} @placeholder={{t "name"}} @value={{this.newName}} as |el|>
          {{el.control}}
        </form.element>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-10 col-sm-4">
        <form.submitButton>{{t "save"}}</form.submitButton>
      </div>
    </div>
  </BsForm>
</div>

<BsForm @formLayout='vertical' @onSubmit={{fn this.setLocale this.language}} as |form|>
  <div class="row space-top">
    <div class="col-md-3 col-xs-10 col-sm-8">
      <form.element @label={{t "language"}}>
        <PowerSelect
          @selected={{this.language}}
          @options={{this.languageOption}}
          @searchEnabled="false"
          @onChange={{this.changeLanguage}}
          @placeholder={{this.language}} as |lang|>
          {{lang}}
        </PowerSelect>
      </form.element>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-8 col-sm-4">
      <form.submitButton>{{t 'switch'}}</form.submitButton>
    </div>
  </div>
</BsForm>

<div class="row space-top">
  <div class="col-md-6">
    {{t 'restart_info'}}:
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <ButtonWithConfirmation @size="sm" @text={{t "restart"}} @icon="glyphicon glyphicon-refresh" @type="warning" @onConfirm={{this.restart}} />
  </div>
</div>
