<div class="card">
    <div class="card-body">
    <BsForm @formLayout="vertical" @model={{this.args.schedule}} @onSubmit={{this.args.action}} as |form|>
      <div class="card-text">
        <fieldset>
          <legend>{{t 'configuration'}}</legend>
          <form.element @controlType="text" @label={{t "name"}} @placeholder={{t "schedule.placeholder"}} @property="name" />

          <form.element @controlType="textarea" @label={{t "notes"}} @placeholder={{t "notes_placeholder"}} @property="description" />
        </fieldset>
        <fieldset>
          <legend>{{t 'timeframes'}}</legend>
          <div class="row">
            <div class="col-md-6 space-bottom">
              <BsButton @defaultText={{t 'add_time_zone'}} @type='primary' @onClick={{this.addTimeframe}} />
            </div>
          </div>
          {{#each this.args.schedule.timeframes as |tf|}}
            <div class="card border-warning mb-3">
              <div class="card-header panel-timeframe">{{t 'timeframe'}}
              </div>
              <div class="card-body">
                <ScheduleTimeframe @form={{form}} @delete={{fn this.removeTimeframe tf}} @timeframe={{tf}} />
              </div>
            </div>
          {{/each}}
        </fieldset>
      </div>
      <div class="space-top">
        <form.submitButton @type="success">{{t 'submit'}}</form.submitButton>
        {{#if this.args.delete}}
          <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="md" @text={{t "delete"}} @message={{t "schedule.delete_confirm"}} @onConfirm={{this.args.delete}} />
        {{/if}}
      </div>
    </BsForm>
  </div>
</div>