{{#if this.timeframe}}
  <div class="row">
    <div class="col-md-3">
      <this.args.form.element @controlType="checkbox" @label={{t "schedule.monday"}} @value={{this.timeframe.enabledOnMonday}} />
    </div>

    <div class="col-md-3">
      <this.args.form.element @controlType="checkbox" @label={{t "schedule.tuesday"}} @value={{this.timeframe.enabledOnTuesday}} />
    </div>

    <div class="col-md-3">
      <this.args.form.element @controlType="checkbox" @label={{t "schedule.wednesday"}} @value={{this.timeframe.enabledOnWednesday}} />
    </div>
    <div class="col-md-3">
      <this.args.form.element @controlType="checkbox" @label={{t "schedule.thursday"}} @value={{this.timeframe.enabledOnThursday}} />
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <this.args.form.element @controlType="checkbox" @label={{t "schedule.friday"}} @value={{this.timeframe.enabledOnFriday}} />
    </div>
    <div class="col-md-3">
      <this.args.form.element @controlType="checkbox" @label={{t "schedule.saturday"}} @value={{this.timeframe.enabledOnSaturday}} />
    </div>

    <div class="col-md-3">
      <this.args.form.element @controlType="checkbox" @label={{t "schedule.sunday"}} @value={{this.timeframe.enabledOnSunday}} />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 cursor-link">
      <button type="button" {{on 'click' this.toggleAll}}>{{t 'toggle_all'}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 datetime-picker-margin">
      <this.args.form.element @controlType="text" @label={{t "schedule.start_time"}} @placeholder="H:mm" @disabled={{this.disabled}} @value={{this.timeframe.startTime}} />
    </div>

    <div class="col-md-5 datetime-picker-margin">
      <this.args.form.element @controlType="text" @label={{t "schedule.end_time"}} @placeholder="H:mm" @disabled={{this.disabled}} @value={{this.timeframe.endTime}} />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 space-bottom">
      <BsButton @defaultText={{t 'remove_timeframe'}} @size='sm' @type='danger' @onClick={{this.delete}} />
    </div>
  </div>
{{/if}}