<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    {{!-- Sidebar Toggle (Topbar) --}}
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <button class="btn btn-link rounded-circle mr-3" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Sidebar navigation" type="button">
        <FaIcon @icon="bars" />
    </button>

    <GlobalSearch @label={{t "search"}} />

    <ul class="navbar-nav ml-auto navbar-top-links navbar-right">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="alertsDropdown" role="button" href="#"
               aria-haspopup="true" aria-expanded="false">
                <FaIcon @icon="bell" @fixedWidth={{true}} />
                <span class="badge badge-danger badge-counter">{{ this.flashMessages.queue.length }}</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    {{t 'alarm.title'}}
                </h6>
                {{#each this.flashMessages.queue as |flash|}}
                    {{#if (eq flash.componentName 'flashmessage-as-alert')}}
                        {{component flash.componentName flash=flash}}
                    {{/if}}
                {{/each}}
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" role="button" href="#"
               aria-haspopup="true" aria-expanded="false">
                <FaIcon @icon="user" @fixedWidth={{true}} /><FaIcon @icon="caret-down" />
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="profileDropdown">
                <LinkTo class="dropdown-item" @route='profile' @model={{this.authSrv.user_id}}>
                    <FaIcon @icon="user" @fixedWidth={{true}} @size="sm" class="mr-2 text-gray-400" />
                    {{t 'profile.title'}}
                </LinkTo>
                <LinkTo class="dropdown-item" @route='settings'>
                    <FaIcon @icon="cog" @fixedWidth={{true}} @size="sm" class="mr-2 text-gray-400" />
                    {{t 'settings'}}
                </LinkTo>
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item" {{on 'click' this.logout}}>
                    <FaIcon @icon="sign-out-alt" @fixedWidth={{true}} @size="sm" class="mr-2 text-gray-400" />
                    {{t 'logout'}}
                </button>
            </div>
        </li>
    </ul>
</nav>
