<div class="col-md-6">
  <BsForm @formLayout="vertical" @model={{this.args.zone}} @onSubmit={{this.args.action}} as |form|>
    <fieldset>
      <legend>{{t 'configuration'}}</legend>

      <form.element @controlType="text" @label={{t "alias"}} @placeholder={{t "zone.placeholder"}} @property="alias" />

      <form.element @controlType="textarea" @label={{t "notes"}} @placeholder={{t "notes_placeholder"}} @property="description" />

      <form.element @property="type" @label={{t "type"}}>
        <PowerSelect @selected={{this.args.zone.type}}
                     @searchEnabled="false"
                     @options={{this.allType}}
                     @onChange={{fn (mut this.args.zone.type)}}
                     @placeholder={{t 'type_zone'}} as |type|>
          {{t type}}
        </PowerSelect>
      </form.element>

      <hr>
      <h4>{{t 'doors'}}</h4>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <th>#Id</th>
          <th class="text-center">{{t 'alias'}}</th>
          <th class="text-center">{{t 'zone.remove_from_zone'}}</th>
          </thead>
          <tbody>
          {{#each this.args.zone.doors as |door|}}
            <tr>
              <td>
                {{door.id}}
              </td>
              <td class="text-center">
                {{door.alias}}</td>
              <td>
                <div class="text-center">
                  <BsButton @size='xs' @icon='glyphicon glyphicon-remove' @type='danger'
                            @defaultText={{t 'remove'}} @onClick={{fn this.removeDoor door}} />
                </div>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>

      <div>
        <div class="row">
          <div class="col-md-12">
            <form.element @label={{t "doors"}}>
              <PowerSelect @searchEnabled={{true}} @search={{this.searchDoor}} @selected={{this.newDoor.alias}} @placeholder={{t "schedule.type_door"}} @onChange={{fn (mut this.newDoor)}} as |doorInfo|>
                {{doorInfo.alias}}
              </PowerSelect>
            </form.element>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <form.submitButton>{{t 'schedule.add_door'}}</form.submitButton>
          </div>
        </div>
      </div>

      <hr>
      <h4>{{t 'zone.child'}}</h4>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <th>#Id</th>
          <th class="text-center">{{t 'alias'}}</th>
          <th class="text-center">{{t 'zone.remove_from_zone'}}</th>
          </thead>
          <tbody>
          {{#each this.args.zone.children as |children|}}
            <tr>
              <td>
                {{children.id}}
              </td>
              <td class="text-center">
                {{children.alias}}
              </td>
              <td class="text-center">
                <div class="pull-right">
                  <BsButton @size='xs'
                            @icon='glyphicon glyphicon-remove'
                            @type='danger'
                            @defaultText={{t 'remove'}}
                            @onClick={{fn this.removeChildren children}} />
                </div>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-12">
          <Autocomplete::ZoneSearch @label={{t "zone.child"}} @form={{form}} @ignoreZone={{this.args.zone}} @selected={{this.newChildren}} />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <BsButton @size='sm' @type="primary" @onClick={{this.addChildren}} @defaultText={{t 'zone.add_children'}} />
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <form.submitButton @type="success">{{t 'submit'}}</form.submitButton>
        </div>
        {{#if this.args.delete}}
          <div class="pull-right form-button-delete">
            <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="md" @text={{t "delete"}} @message={{t "zone.delete_confirm"}} @onConfirm={{this.args.delete}} />
          </div>
        {{/if}}
      </div>
    </fieldset>
  </BsForm>
</div>