<this.form.element @label={{this.label}}>
  <PowerSelect @searchEnabled={{true}} @search={{this.searchAP}} @selected={{this.selected}} @placeholder={{t "autocomplete.search_access_point"}} @onChange={{this.changed}} as |accessPointInfo|>
    {{accessPointInfo.alias}}
  </PowerSelect>
  <button type="button" {{on 'click' this.clear}}>{{t 'clear_selection'}}</button>
</this.form.element>
