<BsFormElement @label={{this.label}}>
    <PowerSelectTypeahead @search={{action "searchGroup"}} @selected={{this.selected}} @placeholder={{t "autocomplete.search_group"}} @onChange={{action "changed"}} as |accessPointInfo|>
        {{accessPointInfo.alias}}
    </PowerSelectTypeahead>
    <a href="#" {{action 'clear'}}>{{t 'clear_selection'}}</a>
</BsFormElement>
