<PowerSelect @search={{this.searchDevice}} @selected={{get this.device this.relationshipsName}} @placeholder={{this.placeholder}} @onChange={{this.setRelationships}} as |device|>
  {{device.name}}
  <span style="color: #9b9aa5;font-style: italic;" class="pull-right">
    {{device.type}}
  </span>
</PowerSelect>