<div class="row col-md-6">
  {{#bs-form formLayout="horizontal" model=model.user}}
      <fieldset>
          <legend>{{t 'users.create.account_info'}}</legend>
        {{bs-form-element controlType="text" label=(t 'username')
                          placeholder="john_doe" property="username"}}

      </fieldset>

      <fieldset>
          <legend>Profile</legend>
        {{bs-form-element controlType="text" label=(t 'firstname')
                          placeholder="John" property="firstname"}}

        {{bs-form-element controlType="text" label=(t 'lastname')
                          placeholder="Doe" property="lastname"}}

        {{bs-form-element controlType="email" label=(t 'email')
                          placeholder="john@doe.com" property="email"}}

        {{#bs-form-element label=(t 'rank')}}
          {{#power-select
            selected=model.user.rank
            options=model.possibleRanks
            onchange=(action (mut model.user.rank))
          as |rank|
          }}
            {{rank}}
          {{/power-select}}
        {{/bs-form-element}}
      </fieldset>
  {{/bs-form}}

    <fieldset>
        <legend>{{t 'security'}}</legend>
      {{password-input passwordOut=(mut model.user.password)}}
    </fieldset>

  {{bs-button defaultText="Create User" type="primary"
              buttonType="submit" action='createUser'}}
</div>
