<div class="row col-md-6">
  {{#bs-form formLayout="horizontal" model=model.user onSubmit=(route-action 'createUser') as |form|}}
      <fieldset>
         <legend>{{t 'users.create.account_info'}}</legend>
        {{form.element controlType="text" label=(t 'username')
                          placeholder="john_doe" property="username"}}

      </fieldset>

      <fieldset>
          <legend>{{t 'profile.title'}}</legend>
        {{form.element controlType="text" label=(t 'firstname')
                          placeholder="John" property="firstname"}}

        {{form.element controlType="text" label=(t 'lastname')
                          placeholder="Doe" property="lastname"}}

        {{form.element controlType="email" label=(t 'email')
                          placeholder="john@doe.com" property="email"}}

        {{#form.element label=(t 'rank')}}
          {{#power-select
            selected=model.user.rank
            options=model.possibleRanks
            onchange=(action (mut model.user.rank))
          as |rank|
          }}
            {{rank}}
          {{/power-select}}
        {{/form.element}}
      </fieldset>
      <fieldset>
          <legend>{{t 'security'}}</legend>
          {{password-input optional=true passwordOut=(mut model.user.password)}}
      </fieldset>
      {{bs-button defaultText=(t 'users.create.title') type="primary"
                  buttonType="submit"}}
  {{/bs-form}}
</div>
