<div class="row col-md-6">
  {{#bs-form formLayout="horizontal" model=model.user}}
      <fieldset>
          <legend>Account Information</legend>
        {{bs-form-element controlType="text" label="Username"
                          placeholder="john_doe" property="username"}}

      </fieldset>

      <fieldset>
          <legend>Profile</legend>
        {{bs-form-element controlType="text" label="Firstname"
                          placeholder="John" property="firstname"}}

        {{bs-form-element controlType="text" label="Lastname"
                          placeholder="Doe" property="lastname"}}

        {{bs-form-element controlType="email" label="Email"
                          placeholder="john@doe.com" property="email"}}

        {{#bs-form-element label="Rank"}}
          {{#power-select
            selected=model.user.rank
            options=model.possibleRanks
            onchange=(action (mut model.user.rank))
          as |rank|
          }}
            {{rank}}
          {{/power-select}}
        {{/bs-form-element}}
      </fieldset>
  {{/bs-form}}

    <fieldset>
        <legend>Security</legend>
      {{password-input passwordOut=(mut model.user.password)}}
    </fieldset>

  {{bs-button defaultText="Create User" type="primary"
              buttonType="submit" action='createUser'}}
</div>
