<div class="col-md-12 card">
    <div class="card-body">
        <h5 class="card-title">{{t 'users.create.account_info'}}</h5>
        <BsForm @formLayout="vertical" @model={{this.model.user}} @onSubmit={{this.createUser}} as |form|>
            <div class="card-text">
                <fieldset>
                    <form.element @controlType="text" @label={{t "firstname"}} @placeholder="John" @property="firstname" />

                    <form.element @controlType="text" @label={{t "lastname"}} @placeholder="Doe" @property="lastname" />

                    <form.element @controlType="email" @label={{t "email"}} @placeholder="john@doe.com" @property="email" />
                    <form.element @controlType="text" @label={{t "username"}} @placeholder="john_d" @property="username" />
                    <PasswordInput @optional={{true}} @passwordOut={{this.setPassword}} />

                    <form.element @label={{t "rank"}}>
                        <PowerSelect @selected={{this.model.user.rank}}
                                        @searchEnabled="false"
                                        @options={{this.model.possibleRanks}}
                                        @onChange={{fn (mut this.model.user.rank)}}
                                        @placeholder={{t 'rank'}} as |rank|>
                            {{t rank}}
                        </PowerSelect>
                    </form.element>
                </fieldset>
            </div>
            <form.submitButton @type="success">{{t 'users.create.title'}}</form.submitButton>
        </BsForm>
    </div>
</div>
