<LinkTo @route="create" class="btn btn-primary">
  {{t 'wiegand-reader.create_config'}}
</LinkTo>
<hr>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <th>#Id</th>
    <th class="col-md-2">{{t 'name'}}</th>
    <th>{{t 'mode'}}</th>
    <th>{{t 'enable'}}</th>
    <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
    </thead>
    <tbody>
    {{#each this.model as |wiegand|}}
      <tr>
        <td>
          <LinkTo @route="wiegand-reader" @model={{wiegand.id}}>
            {{wiegand.id}}
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="wiegand-reader" @model={{wiegand.id}}>
            {{wiegand.name}}
          </LinkTo>
        </td>
        <td>
          <LinkTo @route="wiegand-reader" @model={{wiegand.id}}>
            {{t wiegand.mode}}
          </LinkTo>
        </td>
        <td>
          <div class="pull-left">
            <BsForm as |form|>
              <DeviceToggleEnabled @device={{wiegand}} @saveIt={{true}} @form={{form}} />
            </BsForm>
          </div>
        </td>
        <td>
          <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="xs" @text={{t "delete"}} @message={{t "wiegand-reader.delete_confirm"}} @onConfirm={{fn this.deleteWiegandReader wiegand}} />
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
