<LinkTo @route="create" class="btn btn-primary">
  {{t 'wiegand-reader.create_config'}}
</LinkTo>
<hr>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <th>#Id</th>
    <th class="col-md-2">{{t 'name'}}</th>
    <th>{{t 'mode'}}</th>
    <th>{{t 'enable'}}</th>
    <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
    </thead>
    <tbody>
    {{#each model as |wiegand|}}
      <tr>
        <LinkTo @route="wiegand-reader" @model={{wiegand.id}} @tagName="td">
          {{wiegand.id}}
        </LinkTo>
        <LinkTo @route="wiegand-reader" @model={{wiegand.id}} @tagName="td">
          {{wiegand.name}}
        </LinkTo>
        <LinkTo @route="wiegand-reader" @model={{wiegand.id}} @tagName="td">
          {{t wiegand.mode}}
        </LinkTo>
        <td>
          <div class="pull-left">
            <DeviceToggleEnabled @device={{wiegand}} @saveIt={{true}} />
          </div>
        </td>
        <td>
          <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="xs" @text={{t "delete"}} @message={{t "wiegand-reader.delete_confirm"}} @onConfirm={{route-action "deleteWiegandReader" wiegand}} />
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
