<LinkTo @route='access-points.create'>
    <span class="btn btn-primary">{{t 'accesspoint.create'}}</span>
</LinkTo>
<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>{{t 'alias'}}</th>
        <th>{{t 'module'}}</th>
        <th>{{t 'delete'}}</th>
        </thead>
        <tbody>
        {{#each this.model as |ap|}}
          {{#link-to-access-point ap=ap tagName='tr'}}
            {{#if ap.id}}
                <td>
                    {{ap.id}}
                </td>
                <td>{{ap.alias}}</td>
                <td>{{ap.controllerModule}}</td>
                <td>
                  {{button-with-confirmation
                    type='danger'
                    icon='glyphicon glyphicon-remove'
                    size='xs'
                    text=(t 'delete')
                    message=(t 'accesspoint.delete_confirm')
                    onConfirm=(route-action 'deleteAP' ap)
                  }}
                </td>
            {{/if}}
          {{/link-to-access-point}}
        {{/each}}
        </tbody>
    </table>
</div>
