{{#link-to 'access-points.create' class='btn btn-primary'}}
    {{t 'accesspoint.create'}}
{{/link-to}}
<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>{{t 'alias'}}</th>
        <th>{{t 'module'}}</th>
        <th>{{t 'delete'}}</th>
        </thead>
        <tbody>
        {{#each model as |ap|}}
            <tr>
                <td>
                  {{#link-to-access-point ap=ap}}
                    {{ap.id}}
                  {{/link-to-access-point}}
                </td>
                <td>{{ap.alias}}</td>
                <td>{{ap.controllerModule}}</td>
                <td>
                  {{button-with-confirmation
                    type='danger'
                    icon='glyphicon glyphicon-remove'
                    size='xs'
                    text=(t 'delete')
                    message=(t 'accesspoint.delete_confirm')
                    onConfirm=(route-action 'deleteAP' ap)
                  }}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
