<LinkTo @route='model-name-create' class='btn btn-primary'>
  {{t 'translation.key.create'}}
</LinkTo>
<hr>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <th>#Id</th>
    <th class="col-md-2">{{t 'name'}}</th>
    <th>{{t 'enable'}}</th>
    <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
    </thead>
    <tbody>
    {{#each this.model as |model-name|}}
      <tr>
        <LinkTo @route='model-name' @model={{model-name.id}}>
          <td>
            {{model-name.id}}
          </td>
        </LinkTo>
        <LinkTo @route='model-name' @model={{model-name.id}}>
          <td>
            {{model-name.name}}
          </td>
        </LinkTo>
        <td>
          <div class="pull-left">
            <BsForm as |form|>
              <DeviceToggleEnabled @device='model-name' @saveIt={{true}} @form={{form}} />
            </BsForm>
          </div>
        </td>
        <td>
          <ButtonWithConfirmation @type='danger'
                                  @icon='glyphicon glyphicon-remove'
                                  @size='xs'
                                  @text={{t 'delete'}}
                                  @message={{t 'model-name.delete_confirm'}}
                                  @onConfirm={{fn this.deleteModelName model-name}} />
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
