<div class="col-md-6" style="margin-top: 1%">
<BsForm @model={{this}} as |form|>
  <form.element @controlType="email" @label={{t "smtp.recipient"}} @placeholder="me@me.com" @property="recipient" />

  <form.element @controlType="text" @label={{t "smtp.subject"}} @property="subject" />

  <form.element @controlType="textarea" @label={{t "smtp.body"}} @property="body" />

  <BsButton @disabled={{this.isButtonDisabled}} @defaultText={{t "smtp.send"}} @type="primary" @buttonType="submit" @onClick={{this.sendTestMail}} />
</BsForm>
</div>