<div>
    <div class="col-md-6">
        {{#access-point-form ap=model action=(route-action 'editAP')}}
            {{form.element controlType='number' label=(t 'evoxs.lockid')
                           placeholder='42'
                           property='lockId'}}
        {{/access-point-form}}
    </div>
</div>

{{#if model.door}}
    {{t 'accesspoint.belongs_to_nolink'}} <strong>{{#link-to 'door' model.door.id}}{{model.door.alias}}{{/link-to}}</strong>.
{{else}}
    {{t 'accesspoint.no_belongs'}}
{{/if}}
