{{bs-button onClick=(action 'refresh') type='primary'
            size='xs' defaultText=(t 'refresh')}}

{{#bs-form formLayout="horizontal" model=this as |form|}}
  <div class="row">
    <div class="col-md-3">
      {{form.element controlType="number" label=(t 'current_page')
                        property="currentPage"}}
    </div>
    <div class="col-md-3">
      {{form.element controlType="number" label=(t 'page_size')
                        property="pageSize"}}
    </div>
    {{t 'total_page'}}: {{totalPage}}  | {{t 'count'}}: {{resultCount}}
  </div>
{{/bs-form}}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <th>#Id</th>
    <th>{{t 'access_point'}}</th>
    <th>{{t 'type'}}</th>
    <th>{{t 'timestamp'}}</th>
    <th>{{t 'evoxs.lockid'}}</th>
    <th>{{t 'w.room_number'}}</th>
    <th>{{t 'w.card_csn'}}</th>
    </thead>
    <tbody>
    {{#each events as |e|}}
      <tr>
        <td>{{e.id}}</td>
        <td>
          {{#link-to-access-point ap=e.accessPoint}}
            {{e.accessPoint.alias}}
          {{/link-to-access-point}}
        </td>
        <td>{{e.typeStr}}</td>
        <td>{{e.time}}</td>
        <td>{{e.lockId}}</td>
        <td>{{e.roomNumber}}</td>
        <td>
          <!-- Don't show card if event type is 48 (phone settings)
          because it makes no sense -->
          {{#if (eq 48 e.type)}}
            N/A
          {{else}}
            {{e.cardId}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
