{{#bs-form formLayout="vertical" model=wiegand-reader onSubmit=action as |form|}}
  <div class="col-md-6">
    <fieldset>
      <legend>{{t 'configuration'}}</legend>

      {{#form.element controlType="text" label=(t 'name')
                      placeholder=(t 'name')
                      property="name" as |el|}}
        {{el.control id="Tooltip-name"}}
        {{#bs-tooltip placement="right" triggerElement="#Tooltip-name" triggerEvents='hover'}}{{t
          'information.name'}}{{/bs-tooltip}}
      {{/form.element}}

      {{#form.element property="mode" label=(t 'mode')}}
        <div id="Tooltip-mode">
          {{#power-select
            selected=wiegand-reader.mode
            searchEnabled=false
            options=allMode
            onchange=(action (mut wiegand-reader.mode))
            placeholder=(t 'type_mode')
          as |mode|}}
            {{t mode}}
          {{/power-select}}
          {{#bs-tooltip placement="right" triggerElement="#Tooltip-mode"}}{{t 'information.mode'}}{{/bs-tooltip}}
        </div>
      {{/form.element}}

      {{#form.element label=(t 'gpio_high')}}
        <div id="Tooltip-high">
          {{device-picker arrayOfDeviceClass=arrayOfDeviceClassGpio
                          placeholder='GPIO'
                          relationshipsName='gpioHigh'
                          device=wiegand-reader}}
          {{#bs-tooltip placement="right" triggerElement="#Tooltip-high"}}{{t 'information.gpio_high'}}{{/bs-tooltip}}
        </div>
      {{/form.element}}

      {{#form.element label=(t 'gpio_low')}}
        <div id="Tooltip-low">
          {{device-picker arrayOfDeviceClass=arrayOfDeviceClassGpio
                          placeholder='GPIO'
                          relationshipsName='gpioLow'
                          device=wiegand-reader}}
          {{#bs-tooltip placement="right" triggerElement="#Tooltip-low"}}{{t 'information.gpio_low'}}{{/bs-tooltip}}
        </div>
      {{/form.element}}

      {{#form.element label=(t 'buzzer')}}
        <div id="Tooltip-buzzer">
          {{device-picker arrayOfDeviceClass=arrayOfDeviceClassBuzzer
                          placeholder='Buzzer'
                          relationshipsName='buzzer'
                          device=wiegand-reader}}
          {{#bs-tooltip placement="right" triggerElement="#Tooltip-buzzer"}}{{t 'information.buzzer'}}{{/bs-tooltip}}
        </div>
      {{/form.element}}

      {{#form.element label=(t 'led')}}
        <div id="Tooltip-led">
          {{device-picker arrayOfDeviceClass=arrayOfDeviceClassLed
                          placeholder='LED'
                          relationshipsName='greenLed'
                          device=wiegand-reader}}
          {{#bs-tooltip placement="right" triggerElement="#Tooltip-led"}}{{t 'information.led'}}{{/bs-tooltip}}
        </div>
      {{/form.element}}

      {{#form.element label=(t 'enable')}}
        <div class="pull-right" id="Tooltip-enable">
          {{device-toggle-enabled device=wiegand-reader saveIt=false}}
          {{#bs-tooltip placement="right" triggerElement="#Tooltip-enable"}}{{t 'information.enable'}}{{/bs-tooltip}}
        </div>
      {{/form.element}}

      <div class="row">
        <div class="col-md-6">
          {{bs-button
            defaultText=(t 'submit')
            type="success"
            size="md"
            buttonType="submit"}}
        </div>
        {{#if delete}}
          <div class="pull-right form-button-delete">
            {{button-with-confirmation type='danger'
                                       icon='glyphicon glyphicon-remove'
                                       size='md'
                                       text=(t 'delete')
                                       message=(t 'wiegand-reader.delete_confirm')
                                       onConfirm=delete
            }}
          </div>
        {{/if}}
      </div>

    </fieldset>
  </div>
{{/bs-form}}