{{#bs-form formLayout="horizontal" model=wiegand-reader onSubmit=action as |form|}}
  <fieldset>
    <div class="col-md-4">
      <div class="row">
        {{#form.element controlType="text" label=(t 'name')
                        placeholder=(t 'name')
                        property="name" as |el|}}
          {{el.control}}
          {{#bs-tooltip placement="right" triggerEvents='hover'}}{{t 'information.name'}}{{/bs-tooltip}}
        {{/form.element}}
      </div>
      <div class="row">
        {{#form.element property="mode" label=(t 'mode')}}
          {{#power-select
            selected=wiegand-reader.mode
            searchEnabled=false
            options=allMode
            onchange=(action (mut wiegand-reader.mode))
            placeholder=(t 'type_mode')
          as |mode|}}
            {{t mode}}
          {{/power-select}}
          {{#bs-tooltip placement="right"}}{{t 'information.mode'}}{{/bs-tooltip}}
        {{/form.element}}
      </div>
      <div class="row">
        {{#form.element label=(t 'gpio_high')}}
          {{#power-select search=(action 'searchGpio')
                          selected=wiegand-reader.gpioHigh
                          placeholder='GPIO'
                          onchange=(action 'setGpioHigh') as |gpio|}}
            {{gpio.name}}
            <span style="color: #9b9aa5;font-style: italic;" class="pull-right" >{{gpio.type}}</span>
          {{/power-select}}
          {{#bs-tooltip placement="right"}}{{t 'information.gpio_high'}}{{/bs-tooltip}}
        {{/form.element}}
      </div>
      <div class="row">
        {{#form.element label=(t 'gpio_low')}}
          {{#power-select search=(action 'searchGpio')
                          selected=wiegand-reader.gpioLow
                          placeholder='GPIO'
                          onchange=(action 'setGpioLow') as |gpio|}}
            {{gpio.name}}
            <span style="color: #9b9aa5;font-style: italic;" class="pull-right" >{{gpio.type}}</span>
          {{/power-select}}
          {{#bs-tooltip placement="right"}}{{t 'information.gpio_low'}}{{/bs-tooltip}}
        {{/form.element}}
      </div>
      <div class="row">
        {{#form.element label=(t 'enable')}}
          <div class="pull-left">
            {{x-toggle theme='material' size='medium'
                       value=wiegand-reader.enabled
                       onToggle=(action (mut wiegand-reader.enabled))}}
            {{#bs-tooltip placement="right"}}{{t 'information.enable'}}{{/bs-tooltip}}
          </div>
        {{/form.element}}
      </div>
      <div class="row">
        <div class="col-md-2">
          {{bs-button
            defaultText=(t 'submit')
            type="primary"
            size="md"
            buttonType="submit"}}
        </div>
      </div>
    </div>
  </fieldset>
{{/bs-form}}