<LinkTo @route='zones.create'>
    <span class='btn btn-primary'>{{t 'zone.create_zone'}}</span>
</LinkTo>
<hr>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <th>#Id</th>
        <th class="col-md-2">{{t 'alias'}}</th>
        <th>{{t 'description'}}</th>
        <th>{{t 'type'}}</th>
        <th class="col-md-offset-10 col-md-2">{{t 'delete'}}</th>
        </thead>
        <tbody>
        {{#each this.model as |zone|}}
            <tr>
              <td><LinkTo @route='zone' @model={{zone.id}}>{{zone.id}}</LinkTo></td>
              <td><LinkTo @route='zone' @model={{zone.id}}>{{zone.alias}}</LinkTo></td>
              <td>{{zone.description}}</td>
              <td>
                  {{t zone.type}}
              </td>
              <td>
                {{button-with-confirmation type='danger'
                                            icon='glyphicon glyphicon-remove'
                                            size='xs'
                                            text=(t 'delete')
                                            message=(t 'door.delete_confirm')
                                            onConfirm=(route-action 'deleteZone' zone)}}
              </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
