<this.form.element @label={{this.label}}>
    <PowerSelect @searchEnabled={{true}} @search={{this.searchGroup}} @selected={{this.selected}} @placeholder={{t "autocomplete.search_group"}} @onChange={{this.changed}} as |accessPointInfo|>
        {{accessPointInfo.alias}}
    </PowerSelect>
    <button type="button" {{on 'click' this.clear}}>{{t 'clear_selection'}}</button>
</this.form.element>
