{{#bs-form formLayout="vertical" model=piface-digital-gpio onSubmit=action as |form|}}
  <div class="col-md-6">
    <fieldset>
      <legend>{{t 'configuration'}}</legend>

      {{#form.element controlType="text" label=(t 'name')
                      placeholder=(t 'name')
                      property="name" as |el|}}
        {{el.control id="Tooltip-name"}}
        {{#bs-tooltip placement="right" triggerElement="#Tooltip-name" triggerEvents='hover'}}{{t 'information.name'}}{{/bs-tooltip}}
      {{/form.element}}

      {{#form.element controlType="number" label=(t 'number')
                      placeholder='0 - 7'
                      property="number" as |el|}}
        {{el.control id="Tooltip-number"}}
        {{#bs-tooltip triggerElement="#Tooltip-number" placement="right"}}{{t 'information.number'}}{{/bs-tooltip}}
      {{/form.element}}

      {{#form.element property="hardwareAddress" label=(t 'hardware_address') controlType='number' placeholder=(t 'type_address') as |el|}}
        {{el.control id="Tooltip-address"}}
        {{#bs-tooltip triggerElement="#Tooltip-address" placement="right"}}{{t 'information.address'}}{{/bs-tooltip}}
      {{/form.element}}

      {{#form.element property="direction" label=(t 'direction')}}
      <div id="Tooltip-direction">
        {{#power-select
          selected=piface-digital-gpio.direction
          searchEnabled=false
          options=allDirection
          onchange=(action (mut piface-digital-gpio.direction))
          placeholder=(t 'type_direction')
        as |direction|}}
          {{t direction}}
        {{/power-select}}
        {{#bs-tooltip placement="right" triggerElement="#Tooltip-direction"}}{{t 'information.direction'}}{{/bs-tooltip}}
      </div>
      {{/form.element}}

      {{#if (eq piface-digital-gpio.direction 'out')}}
        {{#form.element property='defaultValue' label=(t 'value')}}
          <div id="Tooltip-value">
          {{#power-select
            selected=piface-digital-gpio.defaultValue
            searchEnabled=false
            options=allValue
            onchange=(action (mut piface-digital-gpio.defaultValue))
            placeholder=(t 'type_value')
          as |newValue|}}
            {{t newValue}}
          {{/power-select}}
          {{#bs-tooltip placement="right" triggerElement="#Tooltip-value" triggerEvent='hover'}}{{t 'information.value'}}{{/bs-tooltip}}
          </div>
        {{/form.element}}
      {{/if}}

      {{#form.element property="enabled" label=(t 'enable')}}
        <div class="pull-right" id="#Tooltip-enable">
          {{device-toggle-enabled device=piface-digital-gpio saveIt=false}}
          {{#bs-tooltip placement="right" triggerElement="#Tooltip-enable" triggerEvent='hover'}}{{t 'information.enable'}}{{/bs-tooltip}}
        </div>
      {{/form.element}}

    <div class="row">
      <div class="col-md-6">
        {{bs-button
          defaultText=(t 'submit')
          type="success"
          size="md"
          buttonType="submit"}}
      </div>
      {{#if delete}}
        <div class="pull-right form-button-delete">
          {{button-with-confirmation type='danger'
                                     icon='glyphicon glyphicon-remove'
                                     size='md'
                                     text=(t 'delete')
                                     message=(t 'piface-digital-gpio.delete_confirm')
                                     onConfirm=delete
          }}
        </div>
      {{/if}}
    </div>
    </fieldset>
  </div>
{{/bs-form}}


