<div class="row-centered">
    <h1>{{t 'error.title'}}</h1>

    <div class="col-centered panel panel-default">
        <div class="panel-body">
            {{outlet}}

            <hr>
            <div id="content">
                <h4>{{t 'error.statuscode'}} {{model.status_code}}</h4>
                <h4>{{t 'error.message'}} {{model.status_string}}</h4>
                <h4>{{t 'error.requestid'}} {{model.uuid}}</h4>
            </div>
        </div>
    </div>
</div>
