<h3><span style="color: darkred">{{t 'error.entity_not_found'}}</span></h3>
{{t 'error.entity_not_found_descr'}}

<h4>{{t 'error.entity_id'}} {{model.content.entity_id}} </h4>
<h4>{{t 'error.entity_type'}} {{model.content.entity_type}}</h4>
