<BsForm @formLayout='vertical' @model="this" as | form |>
  <form.element @property="command" @controleType="text" @label="Command" />
  {{this.properties}}
  {{#each this.properties as | parameter index |}}
    <form.element @property={{parameter}} @onChange={{fn this.setValue index}} @controlType="text" @label="Custom parameter" />
  {{/each}}
  <div class="space-bottom">
    <BsButton @defaultText='Add parameter' @onClick={{this.addProperty}} @size='sm' @type='primary' />
  </div>
</BsForm>
{{this.params}}