<h3><span class="error-default-color">{{t 'error.entity_not_found'}}</span></h3>
{{t 'error.entity_not_found_descr'}}

<h4>{{t 'error.entity_id'}} {{this.model.content.entity_id}} </h4>
<h4>{{t 'error.entity_type'}} {{this.model.content.entity_type}}</h4>
