<div>
    <div class="col-md-12">
        <AccessPointForm @ap={{this.model}} @action={{this.editAP}} @delete={{this.deleteAP}} />
    </div>
</div>

{{#if this.model.door}}
    {{t 'accesspoint.belongs_to' dooralias=this.model.door.alias}}
{{else}}
    {{t 'accesspoint.no_belongs'}}
{{/if}}
