<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
        <th>{{t 'username'}} / {{t 'w.door'}}</th>
        {{#each allDoors as |door|}}
            <th>{{door.alias}}</th>
        {{/each}}
        </thead>
        <tbody>
        {{#each userDoorInfo as |userDoorInfo|}}
            {{#link-to 'profile' userDoorInfo.user.id tagName="tr"}}
                <td>{{userDoorInfo.user.username}}</td>
                {{#each userDoorInfo.doors as |accessToDoor|}}
                    <td class="{{if accessToDoor 'success' 'danger'}}">
                        {{#if accessToDoor}}
                            {{t 'yes'}}
                        {{else}}
                            {{t 'no'}}
                        {{/if}}
                    </td>
                {{/each}}
            {{/link-to}}
        {{/each}}
        </tbody>
    </table>
</div>