Audits entries below: <br>

{{bs-button action=(action 'refresh') type='primary'
            size='xs' defaultText='Refresh'}}

{{#bs-form formLayout="horizontal" model=this}}
  <div class="row">
      <div class="col-md-3">
  {{bs-form-element controlType="number" label="Current Page"
                    property="currentPage"}}
      </div>
      <div class="col-md-3">
        {{bs-form-element controlType="number" label="Page Size"
                          property="pageSize"}}
      </div>
      Total page: {{totalPage}}  |  Count: {{resultCount}}
  </div>

  <div class="row">
      <div class="col-md-3">
        {{bs-form-element label='Enable WSAPICall'
                          disabled=fetchingData controlType='checkbox'
                          value=wsapicallEnabled}}
      </div>
      <div class="col-md-3">
        {{bs-form-element label='Enable UserEvent'
                          disabled=fetchingData controlType='checkbox'
                          value=userEventEnabled}}
      </div>
      <div class="col-md-3">
        {{bs-form-element label='Enable DoorEvent'
                          disabled=fetchingData controlType='checkbox'
                          value=doorEventEnabled}}
      </div>
      <div class="col-md-3">
        {{bs-form-element label='Enable GroupEvent'
                          disabled=fetchingData controlType='checkbox'
                          value=groupEventEnabled}}
      </div>
  </div>

  <div class="row">
      <div class="col-md-3">
        {{bs-form-element label='Enable CredentialEvent'
                          disabled=fetchingData controlType='checkbox'
                          value=credentialEventEnabled}}
      </div>
      <div class="col-md-3">
        {{bs-form-element label='Enable ScheduleEvent'
                          disabled=fetchingData controlType='checkbox'
                          value=scheduleEventEnabled}}
      </div>
      <div class="col-md-3">
        {{bs-form-element label='Enable UserGroupMembershipEvent'
                          disabled=fetchingData controlType='checkbox'
                          value=userGroupMembershipEventEnabled}}
      </div>
  </div>

{{/bs-form}}

{{#if progressValue}}
    Please wait, fetching and preparing data.

    {{#bs-progress}}
      {{bs-progress-bar value=progressValue minValue=0 maxValue=100 type="primary"}}
    {{/bs-progress}}
{{/if}}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>Type</th>
        <th>Description</th>
        <th>Author</th>
        <th>Timestamp</th>
        <th>Mask</th>
        <th>Finalized</th>
        <th>Details</th>
        </thead>
        <tbody>
        {{#each audits as |audit|}}
            <tr>
                <td>{{audit.id}}</td>
                <td>{{audit.type}}</td>
                <td>{{audit.description}}</td>
                <td>{{audit.author.username}}</td>
                <td>{{audit.timestamp}}</td>
                <td>{{audit.eventMask}}</td>
                <td>{{audit.finalized}}</td>
                <td>{{bs-button action=(action 'showDetails' audit) defaultText='Details'}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{#bs-modal open=openDetailsModal title="Details"}}
    This show a before and after the audit entry snapshot of the object
    that was modified. Note that this features is not available for all kind
    of audit entry. <br>

    <hr>

    <i>Before: </i> <br>
    <code style="white-space: pre;">{{detailedAudit.before}}</code>

    <hr>

    <i>After: </i> <br>
    <code style="white-space: pre;">{{detailedAudit.after}}</code>
{{/bs-modal}}
