<div class="row">
    <div class="col-md-6">
        {{t 'audit.entries_below'}}
    </div></div>
<div class="row">
    <div class="col-md-6">
        {{bs-button onClick=(action 'refresh') type='primary'
                    size='sm' defaultText=(t 'refresh')}}
    </div>
</div>
{{#bs-form formLayout="horizontal" model=this as | form |}}
    <div class="row">
        <div class="col-md-4">
            {{form.element controlType="number" label=(t 'current_page')
                           property="currentPage"}}
        </div>
        <div class="col-md-4">
            {{form.element controlType="number" max=2147483647
                           label=(t 'page_size') property="pageSize" }}
        </div>
        <div class="col-md-4">
            {{t 'total_page'}}: {{totalPage}}  | {{t 'count'}}: {{resultCount}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <b> {{t 'audit.enable'}} </b>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-2">
            {{form.element label=(t 'audit.enable_credentialevent')
                           controlType='checkbox'
                           property="credentialEventEnabled"}}
        </div>

        <div class="col-md-2">
            {{form.element label=(t 'audit.enable_doorevent')
                           controlType='checkbox'
                           property="doorEventEnabled"}}
        </div>

        <div class="col-md-2">
            {{form.element label=(t 'audit.enable_groupevent')
                           controlType='checkbox'
                           property="groupEventEnabled"}}
        </div>

        <div class="col-md-2">
            {{form.element label=(t 'audit.enable_scheduleevent')
                           controlType='checkbox'
                           property="scheduleEventEnabled"}}
        </div>

        <div class="col-md-2">
            {{form.element label=(t 'audit.enable_updateevent')
                           controlType='checkbox'
                           property="updateEventEnabled"}}
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-2">
            {{form.element label=(t 'audit.enable_userevent')
                           controlType='checkbox'
                           property="userEventEnabled"}}
        </div>

        <div class="col-md-2">
            {{form.element label=(t 'audit.enable_wsapicall')
                           property="wsapicallEnabled"
                           controlType='checkbox'}}

        </div>

        <div class="col-md-2">
            {{form.element label=(t 'audit.enable_zoneevent')
                           controlType='checkbox'
                           property="zoneEventEnabled"}}
        </div>

        <div class="col-md-2">
            {{form.element label=(t 'audit.enable_usergroupevent')
                           controlType='checkbox'
                           property="userGroupMembershipEventEnabled"}}
        </div>

    </div>
{{/bs-form}}

{{#if progressValue}}
    {{t 'wait'}}

    {{#bs-progress as |p|}}
        {{p.bar value=progressValue minValue=0 maxValue=100 type="primary"}}
    {{/bs-progress}}
{{/if}}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>{{t 'type'}}</th>
        <th>{{t 'description'}}</th>
        <th>{{t 'author'}}</th>
        <th>{{t 'timestamp'}}</th>
        <th>{{t 'mask'}}</th>
        <th>{{t 'finalized'}}</th>
        <th>{{t 'details'}}</th>
        </thead>
        <tbody>
        {{#each audits as |audit|}}
            <tr>
                <td>{{audit.id}}</td>
                <td>{{audit.type}}</td>
                <td>{{audit.description}}</td>
                <td>{{audit.author.username}}</td>
                <td>{{audit.timestamp}}</td>
                <td>{{audit.eventMask}}</td>
                <td>{{boolean-to-colored-yes-no audit.finalized}}</td>
                <td>{{bs-button onClick=(action 'showDetails' audit) defaultText=(t 'details')}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{#bs-modal open=openDetailsModal title=(t 'details') as |modal|}}
    {{t 'audit.details_intro'}}<br>

    <hr>

    <i>{{t 'audit.before'}}</i> <br>
    <code style="white-space: pre;">{{detailedAudit.before}}</code>

    <hr>

    <i>{{t 'audit.after'}}</i> <br>
    <code style="white-space: pre;">{{detailedAudit.after}}</code>
{{/bs-modal}}
