<div class="row">
  <div class="col-md-6 space-bottom">
    {{t 'audit.entries_below'}}
  </div>
</div>
<div class="row">
  <div class="col-md-6 space-bottom">
    <BsButton @onClick={{this.refresh}} @type='primary'
              @size='sm' @defaultText={{t 'refresh'}} />
  </div>
</div>
<BsForm @formLayout="vertical" @model="this" as | form |>
  <div class="row">
    <div class="col-md-4">
      <form.element @controlType="number" @label={{t "current_page"}} @property="currentPage" />
    </div>
    <div class="col-md-4">
      <form.element @controlType="number" @max={{2147483647}} @label={{t "page_size"}} @property="pageSize" />
    </div>
    <div class="col-md-4 button-next-to-power-select">
      {{t 'total_page'}}: {{this.totalPage}}  | {{t 'count'}}: {{this.resultCount}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <b> {{t 'index.event'}}: </b>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-2 col-sm-4">
      <form.element @label={{t "audit.enable_credentialevent"}} @controlType="checkbox" @property="credentialEventEnabled" />
    </div>

    <div class="col-md-2 col-sm-4">
      <form.element @label={{t "audit.enable_doorevent"}} @controlType="checkbox" @property="doorEventEnabled" />
    </div>

    <div class="col-md-2 col-sm-4">
      <form.element @label={{t "audit.enable_groupevent"}} @controlType="checkbox" @property="groupEventEnabled" />
    </div>

    <div class="col-md-2 col-sm-4">
      <form.element @label={{t "audit.enable_scheduleevent"}} @controlType="checkbox" @property="scheduleEventEnabled" />
    </div>

    <div class="col-md-2 col-sm-4">
      <form.element @label={{t "audit.enable_updateevent"}} @controlType="checkbox" @property="updateEventEnabled" />
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-2 col-sm-4">
      <form.element @label={{t "audit.enable_userevent"}} @controlType="checkbox" @property="userEventEnabled" />
    </div>

    <div class="col-md-2 col-sm-4">
      <form.element @label={{t "audit.enable_wsapicall"}} @property="wsapicallEnabled" @controlType="checkbox" />

    </div>

    <div class="col-md-2 col-sm-4">
      <form.element @label={{t "audit.enable_zoneevent"}} @controlType="checkbox" @property="zoneEventEnabled" />
    </div>

    <div class="col-md-2 col-sm-4">
      <form.element @label={{t "audit.enable_usergroupevent"}} @controlType="checkbox" @property="userGroupMembershipEventEnabled" />
    </div>
  </div>
  <div class="row space-bottom">
    <div class="col-md-2 cursor-link">
      <button type="button" {{on 'click' this.toggleAll}}>{{t 'toggle_all'}}</button>
    </div>
  </div>
</BsForm>

{{#if this.progressValue}}
  {{t 'wait'}}

  <BsProgress as |p|>
    <p.bar @value={{this.progressValue}} @minValue={{0}} @maxValue={{100}} @type="primary" />
  </BsProgress>
{{/if}}

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
    <th>#Id</th>
    <th>{{t 'type'}}</th>
    <th>{{t 'description'}}</th>
    <th>{{t 'author'}}</th>
    <th>{{t 'timestamp'}}</th>
    <th>{{t 'mask'}}</th>
    <th>{{t 'finalized'}}</th>
    <th>{{t 'details'}}</th>
    </thead>
    <tbody>
    {{#each this.audits as |audit|}}
      <tr>
        <td>{{audit.id}}</td>
        <td>{{audit.type}}</td>
        <td>{{audit.description}}</td>
        <td>{{audit.author.username}}</td>
        <td>{{audit.timestamp}}</td>
        <td>{{audit.eventMask}}</td>
        <td>{{boolean-to-colored-yes-no audit.finalized}}</td>
        <td><BsButton @onClick={{fn this.showDetails audit}} @defaultText={{t 'details'}} /></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<BsModal @open={{this.openDetailsModal}} @title={{t 'details'}}>
  <div class="row">
    <div class="col-md-12">
      <div class="space-left">
        {{t 'audit.details_intro'}}<br>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <i class="space-left">{{t 'audit.before'}}</i>
      <code class="space-top space-left">{{this.detailedAudit.before}}</code>
    </div>
  </div>

  <hr>

  <div class="row space-bottom">
    <div class="col-md-12">
      <i class="space-left">{{t 'audit.after'}}</i>
      <code class="space-top space-left">{{this.detailedAudit.after}}</code>
    </div>
  </div>
</BsModal>
