<div>
    {{t 'credential.title'}}.

    {{t 'alias_'}} {{model.alias}}<br>
    {{#if model.owner}}
      {{t 'owner_'}} {{model.owner.username}}
    {{else}}
      {{t 'credential.noowner'}}
    {{/if}}
</div>
