<div>
    {{t 'credential.title'}}.

    {{t 'alias_'}} {{this.model.alias}}<br>
    {{#if this.model.owner}}
        {{t 'owner_'}} {{this.model.owner.username}}
    {{else}}
        {{t 'credential.noowner'}}
    {{/if}}
</div>
