<div>
  {{#bs-tab}}
    {{#bs-tab-pane title='Information'}}
        <div class="row col-md-6">
          {{#bs-form formLayout="horizontal" model=model action="editGroup"}}
              <fieldset>
                  <legend>Group information</legend>
                {{bs-form-element controlType="text" label="Name"
                                  property="name"}}

                {{bs-form-element controlType='textarea' label='Description'
                                  property='description'}}

                {{bs-button defaultText="Edit" type="primary" buttonType="submit"
                            size='sm'}}

                {{#bs-button type="info" icon="glyphicon glyphicon-refresh"
                             size="sm"
                             action='cancelAndRefresh'}}
                    Cancel & Refresh
                {{/bs-button}}

                {{button-with-confirmation
                  type='danger'
                  icon='glyphicon glyphicon-remove'
                  size='sm'
                  text='Delete'
                  message='Are you sure you wish to delete this group ?'
                  onConfirm=(route-action 'deleteGroup')
                }}
              </fieldset>
          {{/bs-form}}

        </div>
    {{/bs-tab-pane}}

    {{#bs-tab-pane title='Members'}}
      {{group-user-membership-table group=model}}
      {{group-add-one-user group=model}}
    {{/bs-tab-pane}}
  {{/bs-tab}}
</div>
