<BsTab as |tab|>
  <tab.pane @title={{t "information"}}>
    <div class="col-md-6 button-space">
      <BsForm @formLayout="vertical" @model={{this.model}} @onSubmit={{this.editGroup}}  as  | form |>
        <fieldset>
          <legend>{{t 'configuration'}}</legend>
          <form.element @controlType="text" @label={{t "name"}} @placeholder="MySuperGroup" @property="name" />
          <form.element @controlType="textarea" @label={{t "description"}} @property="description" @placeholder="Description" />

          <div class="d-flex justify-content-between">
            <div>
              <form.submitButton @type="success">{{t 'submit'}}</form.submitButton>
            </div>
            <div class="form-button-delete">
              <ButtonWithConfirmation @type="danger" @icon="glyphicon glyphicon-remove" @size="md" @text={{t "delete"}} @message={{t "delete_group_confirmation"}} @onConfirm={{this.deleteGroup}} />
            </div>
          </div>
        </fieldset>
      </BsForm>

    </div>
  </tab.pane>

  <tab.pane @title={{t "members"}}>
    <GroupUserMembershipTable @group={{this.model}} />
    <GroupAddOneUser @group={{this.model}} />
  </tab.pane>

  <tab.pane @title={{t "access"}}>
    <GroupSchedules @group={{this.model}} />
  </tab.pane>
</BsTab>
