<div>
  {{t 'index.welcome' username=this.model.username htmlSafe=true}}
</div>
<div class="row center-image">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
        <LinkTo @route='credentials.list'>
          {{inline-svg "/assets/images/dashboard-access.svg" class="summary-icon"}}
        </LinkTo>
        <br /><br />
        <p>
            <LinkTo @route='credentials.list'>
                <span  class='btn btn-primary'>{{t 'index.manage_access'}}</span>
            </LinkTo>
        </p>
    </div>
    <div class="col-lg-2">
        <LinkTo @route='updates'>
          {{inline-svg "/assets/images/dashboard-updates.svg" class="summary-icon"}}
        </LinkTo>
        <br /><br />
        <p>
            <LinkTo @route='updates'>
                <span class='btn btn-primary'>{{t 'index.apply_update'}}</span>
            </LinkTo>
        </p>
    </div>
    <div class="col-lg-2">
        <LinkTo @route='auditlog'>
          {{inline-svg "/assets/images/dashboard-events.svg" class="summary-icon"}}
        </LinkTo>
        <br /><br />
        <p>
            <LinkTo @route='auditlog'>
                <span class='btn btn-primary'>{{t 'index.event'}}</span>
            </LinkTo>
        </p>
    </div>
    <div class="col-lg-3"></div>
</div>

<div class="space-bottom space-top center-image">
  <a href="http://www.leosac.com/" target="_blank" title="Leosac" rel="noopener noreferrer"><img class="logo-size-index" src="assets/images/project-logo.png" alt="leosac project" /></a>
</div>
