<div>
    <h2>{{t 'username_'}} {{this.model.user.username}}</h2>
</div>

<div>
  <BsTab as |tab|>
    <tab.pane @title={{t "information"}}>
      <BsForm @formLayout="vertical" @model={{this.model.user}} @onSubmit={{this.editProfile}} as |form|>
        <div class="col-md-6 space-top">
          <fieldset>
            <legend>{{t 'profile.title'}}</legend>
            <form.element @disabled={{this.isProfileLocked}} @controlType="text" @label={{t "firstname"}} @placeholder="John" @property="firstname" />

            <form.element @disabled={{this.isProfileLocked}} @controlType="text" @label={{t "lastname"}} @placeholder="Doe" @property="lastname" />

            <form.element @disabled={{this.isProfileLocked}} @controlType="email" @label={{t "email"}} @placeholder="john@doe.com" @property="email" />
            <form.element @label={{t "rank"}}>
              <PowerSelect @disabled={{this.isRankEditLocked}}
                           @selected={{this.model.user.rank}}
                           @options={{this.model.possibleRanks}}
                           @onChange={{fn (mut this.model.user.rank)}} as |rank|>
                {{t rank}}
              </PowerSelect>
            </form.element>

          <ValidityControl @form={{form}} @disabled={{this.isRankEditLocked}} @enabledProperty="validityEnabled" @startDate={{mut this.model.user.validityStart}} @endDate={{mut this.model.user.validityEnd}} />


            <div class="row">
              <div class="col-md-6">
                <BsButton @disabled={{this.isProfileLocked}} @defaultText={{t 'submit'}} @type="success" @onClick={{this.editProfile}} @buttonType="submit" />
              </div>
            </div>
          </fieldset>
          <p></p>
        </div>
        <div class="col-md-6 space-top">
          <PasswordChange @disabled={{this.isProfileLocked}} @user_id={{this.model.user.id}} />
        </div>
      </BsForm>

    </tab.pane>

    <tab.pane @title={{t "groups"}}>
      <UserGroupMembershipTable @user={{this.model.user}} />
    </tab.pane>

    <tab.pane @title={{t "w.credentials"}}>
      <UserCredentialTable @user={{this.model.user}} />
    </tab.pane>

    <tab.pane @title={{t "schedules"}}>
      <UserSchedules @user={{this.model.user}} />
    </tab.pane>
  </BsTab>
</div>