<div>
  {{#bs-tab}}
    {{#bs-tab-pane title=(t 'information')}}
        <div class="col-md-6">
          {{#bs-form formLayout="horizontal" model=model.user action="editProfile"}}
              <fieldset>
                  <legend>{{t 'profile.title'}}</legend>
                {{bs-form-element disabled=isProfileLocked
                                  controlType="text" label=(t 'firstname')
                                  placeholder="John" property="firstname"}}
                {{bs-form-element disabled=isProfileLocked
                                  controlType="text" label=(t 'lastname')
                                  placeholder="Doe" property="lastname"}}
                {{bs-form-element disabled=isProfileLocked
                                  controlType="email" label=(t 'email')
                                  placeholder="john@doe.com" property="email"}}

                {{#bs-form-element label=(t 'rank')}}
                  {{#power-select
                    disabled=isRankEditLocked
                    selected=model.user.rank
                    options=model.possibleRanks
                    onchange=(action (mut model.user.rank))
                  as |rank|
                  }}
                    {{rank}}
                  {{/power-select}}
                {{/bs-form-element}}

                {{bs-button disabled=isProfileLocked
                            defaultText=(t 'submit') type="primary" buttonType="submit"}}
              </fieldset>
          {{/bs-form}}

            <!-- Password change -->
          {{password-change disabled=isProfileLocked user_id=model.user.id}}
        </div>
        <div class="col-md-6">
          {{validity-control
            disabled=isRankEditLocked
            enabled=(mut model.user.validityEnabled)
            startDate=(mut model.user.validityStart)
            endDate=(mut model.user.validityEnd)}}
        </div>
    {{/bs-tab-pane}}

    {{#bs-tab-pane title=(t 'groups')}}
      {{user-group-membership-table user=model.user}}
    {{/bs-tab-pane}}

    {{#bs-tab-pane title=(t 'credentials')}}
      {{user-credential-table user=model.user}}
    {{/bs-tab-pane}}

    {{#bs-tab-pane title=(t 'schedules')}}
      {{user-schedules user=model.user}}
    {{/bs-tab-pane}}
  {{/bs-tab}}
</div>
