<div>
    Your profile is great.

    You are named {{model.firstname}} - {{model.lastname}} and your id is {{model.id}}
</div>

<div>
  {{#bs-tab}}
    {{#bs-tab-pane title='Information'}}
        <div class="row col-md-6">
            <a href="#" {{action 'refreshLama'}}>Refresh</a> <br>
          {{#bs-form formLayout="horizontal" model=model action="editProfile"}}
              <fieldset>
                  <legend>Names</legend>
                {{bs-form-element controlType="text" label="Firstname"
                                  placeholder="Harry" property="firstname"}}
                {{bs-form-element controlType="text" label="Lastname"
                                  placeholder="Potter" property="lastname"}}
                {{bs-form-element controlType="email" label="Email"
                                  placeholder="hp@hogwarts.uk" property="email"}}
                {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
              </fieldset>
          {{/bs-form}}
        </div>
    {{/bs-tab-pane}}

    {{#bs-tab-pane title='Groups'}}
      A read-only view of your group memberships. <br>
      {{user-group-membership-table memberships=model.memberships}}
    {{/bs-tab-pane}}
  {{/bs-tab}}
</div>
