<div>
    Your profile is great.
    You are named {{model.user.firstname}} - {{model.user.lastname}} and your id is {{model.user.id}}
</div>

<div>
  {{#bs-tab}}
    {{#bs-tab-pane title='Information'}}
        <div class="row col-md-6">
            <a href="#" {{action 'refreshLama'}}>Refresh</a> <br>
          {{#bs-form formLayout="horizontal" model=model.user action="editProfile"}}
              <fieldset>
                  <legend>Profile</legend>
                {{bs-form-element disabled=isProfileLocked
                                  controlType="text" label="Firstname"
                                  placeholder="Harry" property="firstname"}}
                {{bs-form-element disabled=isProfileLocked
                                  controlType="text" label="Lastname"
                                  placeholder="Potter" property="lastname"}}
                {{bs-form-element disabled=isProfileLocked
                                  controlType="email" label="Email"
                                  placeholder="hp@hogwarts.uk" property="email"}}

                {{#bs-form-element label="Rank"}}
                  {{#power-select
                    disabled=isRankEditLocked
                    selected=model.user.rank
                    options=model.possibleRanks
                    onchange=(action (mut model.user.rank))
                  as |rank|
                  }}
                    {{rank}}
                  {{/power-select}}
                {{/bs-form-element}}

                {{bs-button disabled=isProfileLocked
                            defaultText="Submit" type="primary" buttonType="submit"}}
              </fieldset>
          {{/bs-form}}

            <!-- Password change -->
          {{password-change disabled=isProfileLocked user_id=model.user.id}}

        </div>
    {{/bs-tab-pane}}

    {{#bs-tab-pane title='Groups'}}
        A read-only view of your group memberships. <br>
      {{user-group-membership-table memberships=model.user.memberships}}
    {{/bs-tab-pane}}
  {{/bs-tab}}
</div>
