<div>
    <h2>Alias: {{model.name}}</h2>
</div>

{{#bs-tab as |tab|}}
    {{#tab.pane title=(t 'timeframes')}}
            {{schedule-form schedule=model delete=(route-action 'deleteSchedule') action=(route-action "editSchedule")}}
    {{/tab.pane}}

    {{#tab.pane title=(t 'mapping')}}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 " style="padding-bottom: 1%; padding-top: 1%">
                    {{t 'schedule.mapping_list'}}<br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        {{bs-button icon='glyphicon glyphicon-add' type='success'
                                    defaultText=(t 'schedule.add_mapping')
                                    onClick=(route-action 'addMapping')}}
                    </div>
                    <div class="pull-right">
                        {{bs-button defaultText=(t 'save') type="success" buttonType="submit"
                                    onClick=(route-action 'editSchedule')}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>

            {{#bs-accordion as |acc|}}
                {{#each model.mapping as |mapping|}}
                    {{#if mapping}}
                        {{#acc.item title=(t 'schedule.mapping' alias=mapping.alias)}}
                            {{schedule-mapping mapping=mapping}}
                        {{/acc.item}}
                    {{/if}}

                    <hr>

                {{/each}}
            {{/bs-accordion}}
        </div>
    {{/tab.pane}}
{{/bs-tab}}