<div>
    <h2>Schedule name: {{model.name}}</h2>
</div>

{{#bs-tab as |tab|}}
  {{#tab.pane title=(t 'timeframes')}}
      <div class="col-md-6">
        {{schedule-form schedule=model action=(route-action "editSchedule")}}
      </div>
  {{/tab.pane}}

  {{#tab.pane title=(t 'mapping')}}

      {{t 'schedule.mapping_list'}}<br> <br>


      <div class="row">
          <div class="col-md-12">
              <div class="pull-right">
                {{bs-button defaultText=(t 'save') type="success" buttonType="submit"
                            action=(route-action 'editSchedule')}}
              </div>
              <div class="pull-left">
                {{bs-button icon='glyphicon glyphicon-add' type='success'
                            defaultText=(t 'schedule.add_mapping') action=(route-action 'addMapping')}}
              </div>
          </div>

          <div class="col-md-12">
              <hr>
          </div>
      </div>

      {{#bs-accordion as |acc|}}
        {{#each model.mapping as |mapping|}}
          {{#acc.item title=(t 'schedule.mapping' alias=mapping.alias)}}
            {{schedule-mapping mapping=mapping}}
          {{/acc.item}}

          <hr>

        {{/each}}
      {{/bs-accordion}}
  {{/tab.pane}}
{{/bs-tab}}