<div class="col-lg-12">
    {{t 'overview.intro' appname=(getenv 'appname')}}
    <br> <br>

    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" {{action 'refreshOverview'}}>
                <i style="color: green" class="fa fa-refresh"></i> {{t 'refresh'}}
            </a>
        </div>

        <div class="panel-body">
          {{system-overview}}
        </div>
    </div>

   <div class="row">
      {{bs-input type='number' value=logPerPage
      label=(t 'overview.logs_per_page')
      }}
    </div>

    <div class="row text-center">
        {{t 'overview.total_logs' totalLogs=totalLogs}}
    </div>

    <div class="row text-center">
      {{numbered-paginator first=0
      last=lastLogPage
      current=currentLogPage
      onPageChange=(action "updateLogPageNumber")
      }}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            {{t 'overview.last_logs'}}
        </div>

        <div class="panel-body">
          {{logs-view logs=lastLogs}}
        </div>
    </div>
</div>
