<div class="col-lg-12 col-md-12">
    <div class="row">
        <div class="col-md-12 space-bottom">
            {{t 'overview.intro' appname=(getenv 'appname')}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{t 'general_information'}}

                </div>

                <div class="panel-body">
                    {{system-overview}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          <BsForm as |form|>
            <form.element @controlType="number" @property={{this.logPerPage}} @label={{t "page_size"}} @onChange={{action (mut this.logPerPage)}} />
          </BsForm>
      </div>

      <div class="col-md-5 text-center">
        <NumberedPaginator @first={{0}} @last={{this.lastLogPage}} @current={{this.currentLogPage}} @onPageChange={{action "updateLogPageNumber"}} />
      </div>

      <div class="col-md-4 text-center button-next-to-power-select">
        {{t 'overview.total_logs' totalLogs=this.totalLogs}}
      </div>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      {{t 'overview.last_logs'}}
    </div>

    <div class="panel-body">
      <LogsView @logs={{this.lastLogs}} />
        </div>
    </div>
</div>
