<BsButton @disabled="pendingCheckUpdate" @onClick={{this.checkUpdate}}>
    {{#if this.pendingCheckUpdate}}
        {{t 'update.pending_check_update'}}
        <FaIcon @icon="spinner" @spin={{true}} class="update-spinner-color" />
    {{else}}
        {{t 'update.check_update'}}
    {{/if}}
</BsButton>


<h3>{{t 'update.potential_update'}}</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>Module</th>
        <th>Description</th>
        <th>{{t 'w.severity'}}</th>
        <th>UUID</th>
        <th>Action</th>
        </thead>

        <tbody>
        {{#each this.updateDescriptors as |u|}}
            <tr>
                <td>{{u.source_module}}</td>
                <td>{{u.update_desc}}</td>
                <td>{{severity-to-string u.severity}}</td>
                <td>{{u.uuid}}</td>
                <td>
                    <BsButton @defaultText='Create Update !' @onClick={{fn this.createUpdate u}} />
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<h3>{{t 'pending_updates'}}</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>Module</th>
        <th>Description</th>
        <th>{{t 'update.table.generated_at'}}</th>
        <th>{{t 'update.table.checkpoint'}}</th>
        <th>Action</th>
        <th>Details</th>
        </thead>

        <tbody>
        {{#each this.pendingUpdates as |update|}}
            <tr>
                <td>{{update.id}}</td>
                <td>{{update.sourceModule}}</td>
                <td>{{update.description}}</td>
                <td>{{update.generatedAt}}</td>
                <td>{{update.checkpoint}}</td>
                <td>
                    <BsButton @type='success' @onClick={{fn this.acknowledgeUpdate update}}>
                        {{t 'acknowledge'}}
                    </BsButton>

                    <BsButton @type='danger' @onClick={{fn this.cancelUpdate update}}>
                        {{t 'cancel'}}
                    </BsButton>
                </td>
                <td>
                    <BsButton @onClick={{fn this.showDetails update}} @defaultText={{t 'details'}} />
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<h3>{{t 'update_history'}}</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>#Id</th>
        <th>Module</th>
        <th>Description</th>
        <th>{{t 'update.table.generated_at'}}</th>
        <th>{{t 'update.table.checkpoint'}}</th>
        <th>Status</th>
        <th>{{t 'update.table.updated_at'}}</th>
        </thead>

        <tbody>
        {{#each this.updateHistory as |update|}}
            {{!-- 1 is hardcoded for ACKNOWLEDGED --}}
            <tr class="{{if (eq update.status 1) 'success' 'danger'}}">
                <td>{{update.id}}</td>
                <td>{{update.sourceModule}}</td>
                <td>{{update.description}}</td>
                <td>{{update.generatedAt}}</td>
                <td>{{update.checkpoint}}</td>
                <td>{{update.statusString}}</td>
                <td>{{update.statusUpdatedAt}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>


<BsModal @open="openDetailsModal" @title={{t 'details'}}>
    <hr>

    <i>Content</i> <br>
    <code class="space-top">{{this.detailedUpdate.content}}</code>
</BsModal>

